@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_ALARM
/* ---------------------------------------------------------------------- */
.alarm_wrap {
    justify-content: center;
    padding-top: 6px;
    //기본 카드 UI 수정 부분
    .card_wrap__item {
        position: relative;
        background: $C-light-gray;
        margin: 0 5px;

        &.active {
            
            .alarm_default_card__action,
            .alarm_default_card__item {
                color: $C-font-point;
            }
            .alarm_default_card__ampm {
                background: $C-font-point;
                color: $C-white;
            }
        }
        &.none {
            display: none;
        }
    }

    //알람카드 UI 추가 부분
    .alarm_default_card {
        text-align: center;

        &__ampm {
            display: inline-block;
            height: 34px;
            margin-top: 29px;
            border-radius: 17px;
            padding:0 15px;
            vertical-align: top;
            text-align: center;
            font-size: 2.5rem;
            line-height: 34px;
            color: $C-font-light;
            background: $C-light-grayBg;
        }
        &__action {
            margin: 20px 0 11px;
            text-align: center;
            font-size: 5.6rem;
            color: $C-black;
        }
        &__item {
            text-align: center;
            font-size: $F-size;
            font-family: $F-family-semi;
            color: $C-black;
        }
        &__nodata {
            display: none;
        }
    }
}