@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_ALARM
/* ---------------------------------------------------------------------- */
.alarm_wrap {
    padding-top: 6px;
    //기본 카드 UI 수정 부분
    .card_wrap__item {
        margin: 0 5px;
        position: relative;

    }

}
//알람카드 UI 추가 부분
.alarm_default_card {
    @include flex();
    @include flex-justify(space-between);
    @include flex-align(center);
    text-align: center;
    border-bottom: 2px solid #eee;
    margin: 0 30px;
    &.disabled {
        .alarm_default_card__action,
        .alarm_default_card__item,
        .alarm_default_card__ampm {
            color: $C-border-gray_cc;
        }
    }
    &.active {
        background: $C-bgColor;
    }
    &__ampm {
        flex:1;
        display: inline-block;
        vertical-align: top;
        padding:0 15px;
        text-align: center;
        font-size: $F-size-24;
        line-height: 34px;
        color: $C-font-light;
    }
    &__action {
        flex:3;
        margin: 10px 0 11px;
        text-align: left;
        font-size: $F-size-56;
        color: $C-font-dark;
    }
    &__item {
        flex:1;
        text-align: center;
        font-size: $F-size;
        color: $C-font-light;
    }
    &__nodata {
        display: none;
    }
}
