@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_어학사전
/* ---------------------------------------------------------------------- */

.dictionary_wrap {
  text-align: center;
}
.dictionary_box {
  padding: 0 40px;
  &__info {
    word-break: keep-all;
    font-size: $F-size-big;
    font-weight: $F-weight-bold;
    line-height: 1.5;
  }

}
