@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_운세
/* ---------------------------------------------------------------------- */

%fortune_d_img {
      width: 160px;
      height: 160px;
}
.fortune_wrap {
      @include flex();
      @include flex-justify(flex-start);
      @include flex-align(center);
      margin:0 40px;
      &__img {
            @include overflowHide;
            @include border-radius-multi(50%,50%,50%,50%);
            @extend %fortune_d_img;

            img {
                  @extend %fortune_d_img;
            }
      }
      &__info {
            text-align: left;
            flex:1;
            margin-left: 20px;
      }
      &__title {
            font-size: $F-size;
            font-family: $F-family-semi;
            color: $C-black;
      }
      &__title-year,
      &__zodiac,
      &__astromanic {
            color: $C-black;
      }
      &__desc {
            margin: 26px 40px 0;
            color: $C-font-dark;

      }
      .fortune_wrap__title-year + .fortune_wrap__zodiac {
            color: $C-black;
      }
      .btn__default {
            padding: 7px 30px;
      }
}
