@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_도움말
/* ---------------------------------------------------------------------- */
.help_card_wrap {
    margin-top: 0;
    .help_card {
        margin:0 30px;
        &__title {
            padding:10px 0 2px;
            border-bottom:2px solid #ccc;
            font-size: $F-size-small;
            text-align:center;
        }
        &__list {
            margin-top: 20px;
        }
        &__list-item {
            font-size: $F-size-xsmall;
            color: $C-font-light;
            .data {
                @include ellipsis(inline-block,378px);
            }
            
            &:before {
                content: '';
                display: inline-block;
                vertical-align: top;
                width: 26px;
                height: 26px;
                margin:2px 4px 0 0;
                background: url('../../assets/images/help/nugu_advice_icon_mic.png') no-repeat 0 0;
            }
        }
        
    }
    
}
.card_wrap__item {
    width: 472px;
    height: 232px;
    background: #fcfcfc;
    border-radius: 1px;

    &.none {
        .help_card {
            display: none;
        }
        
    }
}

.pagenate {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__prev {
        position: absolute;
        left:50px;
        top: 50%;
        margin-top: -80px;
        
        &.disabled {
            @include opacity(.3);
        }
    }
    &__btn-prev {
        width: 50px;
        height: 80px;
        background: url('../../assets/images/help/btn__prev.png') no-repeat 0 0;
        overflow: hidden;
    }
    &__next {
        position: absolute;
        right:50px;
        top: 50%;
        margin-top: -80px;
        
        &.disabled {
            @include opacity(.3);
        }
    }
    &__btn-next {
        width: 50px;
        height: 80px;
        background: url('../../assets/images/help/btn__next.png') no-repeat 0 0;
        overflow: hidden;
    }

    &__paging {
        font-size: $F-size-xsmall;
        color: $C-font-light;
        width: 50px;
        text-align: center;

        .current {
            color: $C-font-dark;
            font-weight: $F-weight-bold;
        }
    }
}