@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_도움말
/* ---------------------------------------------------------------------- */
.help_card_wrap {
    margin-top: 7px;
    
    .help_card {
        margin:0 30px;
        &__title {
            padding:12px 0 9px;
            border-bottom:2px solid $C-border-gray;
            font-size: $F-size-under;
            text-align:center;
        }
        &__list {
            margin-top: 27px;
        }
        &__list-item {
            padding-top: 3px;
            font-size: $F-size-xsmall;
            color: $C-font-light;
            &:before {
                content: '';
                @include use-sprite(nugu_advice_icon_mic);
                margin:4px 4px 0 0;
                vertical-align: top;
            }
            .data {
                @include ellipsis(inline-block,375px);
            }
        }
        
    }
    .card_wrap__item {
        width: 472px;
        height: 234px;
        background: $C-light-gray;
        border-radius: 1px;
        margin: 0 5px;
        
        &.none {
            display: none;
        }
    }
}

.help_wrap {
    justify-content: center;
    margin-top: 0;
    padding-top: 7px;

    .card_wrap__item {
        position: relative;
        background: $C-light-gray;
        margin: 0 5px;
        outline: 0;
        &.active,
        &:focus {
            &:before {
                content:'';
                width: 186px;
                height: 222px;
                position: absolute;
                left: -1px;
                top: -1px;
                border: 6px solid $C-font-point;
            }
            .help_default_card__order-info {
                border-color: $C-font-point;
                background: $C-font-point;
                color: $C-white;

                &:before {
                    content:'';
                    @include use-sprite(nugu_advice_icon_mic2_on);
                    margin: 6px 5px 0 0;
                    vertical-align: top;
                }
            }
        }
    }
    .help_default_card {
        display: block;
        text-align: center;

        .help_s_img {
            width: 126px;
            height: 126px;
        }
        &__order {
            text-align:right;
            margin: 9px 9px 0;
            height: 40px;
        }
        &__order-info {
            display: inline-block;
            vertical-align: top;
            height: 28px;
            border: 1px solid #333;
            border-radius: 14px;
            padding:0 10px;
            font-size: 1.6rem;
            line-height: 29px;
            font-weight: bold;
            color: $C-font-dark;
            &:before {
                content:'';
                @include use-sprite(nugu_advice_icon_mic2);
                margin: 6px 5px 0 0;
                vertical-align: top;
            }

        }
        &__picto {
            margin-top: 0;
            text-align: center;
        }
        &__domain {
            margin-top: 0;
            text-align: center;
            font-size: $F-size-small;
            font-weight: $F-weight-bold;
            color: $C-font-dark;
        }
        &__nodata {
            display: none;
        }
    }
}