@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_IOT
/* ---------------------------------------------------------------------- */
.iot_wrap {
    justify-content: center;
    padding-top: 6px;
    .card_wrap__item {
        position: relative;
        background: #fcfcfc;
        margin: 0 5px;
        &.active {
            &:before {
                content:'';
                width: 196px;
                height: 232px;
                position: absolute;
                border: 8px solid #ff4909;
                border-radius: 3px;
                left: -8px;
                top: -8px;
            }
            .iot_default_card__order-info {
                border-color: #ff4909;
                background: #ff4909;
                color: #fff;
                &:before {
                    content:'';
                    display: inline-block;
                    vertical-align: top;
                    width: 10px;
                    height: 15px;;
                    background: url('../../assets/images/iot/nugu_advice_icon_mic2_on.png') no-repeat 0 0;
                    background-size: 10px 15px;
                    margin: 6px 5px 0 0;
                }
            }
            
        }
    }
    .iot_default_card {
        text-align: center;

        &__order {
            text-align:right;
            margin: 9px 9px 0;
            height: 28px;
        }
        &__order-info {
            display: inline-block;
            vertical-align: top;
            height: 28px;
            padding:0 10px;
            border: 1px solid #333;
            border-radius: 14px;
            font-size: 1.6rem;
            font-family: $F-family-bold;
            line-height: 29px;
            &:before {
                content:'';
                display: inline-block;
                vertical-align: top;
                width: 10px;
                height: 15px;;
                background: url('../../assets/images/iot/nugu_advice_icon_mic2.png') no-repeat 0 0;
                background-size: 10px 15px;
                margin: 6px 5px 0 0;
            }

        }
        &__action {
            margin: 24px 0 13px;
            display: inline-block;
            vertical-align: top;
            &.on{
                @include use-sprite(nugu_smarthome_on);
                
            }
            &.off{
                @include use-sprite(nugu_smarthome_off);
            }
        }
        &__item {
            text-align: center;
            font-size: $F-size;
        }
        &__nodata {
            display: none;
        }
    }
}