@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_IOT
/* ---------------------------------------------------------------------- */
.iot_wrap {
    justify-content: space-around;
    padding-top: 7px;

    .card_wrap__item {
        position: relative;
        background: #fcfcfc;
        &.active {
            &:before {
                content:'';
                width: 196px;
                height: 234px;
                position: absolute;
                border: 8px solid #ff4909;
                border-radius: 3px;
                left: -8px;
                top: -8px;
            }
            .iot_default_card__order-info {
                border-color: #ff4909;
                background: #ff4909;
                color: #fff;
                &:before {
                    content:'';
                    display: inline-block;
                    vertical-align: top;
                    width: 10px;
                    height: 15px;;
                    background: url('../../assets/images/iot/nugu_advice_icon_mic2_on.png') no-repeat 0 0;
                    background-size: 10px 15px;
                    margin: 6px 5px 0 0;
                }
            }
            .iot_default_card__item {
                color:#ff4909;
            }
        }
    }
    .iot_default_card {
        
        &__order {
            text-align:right;
            margin: 9px 9px 0;
        }
        &__order-info {
            display: inline-block;
            vertical-align: top;
            height: 28px;
            padding:0 10px;
            border: 1px solid #333;
            border-radius: 14px;
            font-size: 1.3rem;
            line-height: 29px;
            &:before {
                content:'';
                display: inline-block;
                vertical-align: top;
                width: 10px;
                height: 15px;;
                background: url('../../assets/images/iot/nugu_advice_icon_mic2.png') no-repeat 0 0;
                background-size: 10px 15px;
                margin: 6px 5px 0 0;
            }

        }
        &__action {
            margin: 20px 0 15px;
            text-align: center;
            font-size: 4.5rem;
            font-weight: $F-weight-bold;
            &.on{
                color:#ff4909;
            }
            &.off{
                color:#b3b3b3;
            }
        }
        &__item {
            text-align: center;
            font-size: $F-size-xsmall;
            font-weight: $F-weight-bold;
        }
        &__nodata {
            display: none;
        }
    }
}