@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_melon
/* ---------------------------------------------------------------------- */
.playerlst {
    margin-top: 7px;
    width: 269px;
    &.active,
    &:focus {

        outline: 0;

        .playerlst__img {

            &:before {
                content:'';
                position: absolute;
                left: 0;
                top: 0;
                width: 148px;
                height: 148px;
                border: 5px solid $C-font-point;
                z-index: 2;
            }
        }
        .playerlst__count {
            border-color: $C-font-point;
            background: $C-font-point;
            color: $C-white;

            &:before {
                content:'';
                @include use-sprite(nugu_advice_icon_mic2_on);
                vertical-align: top;
                margin: 6px 5px 0 0;
            }
        }
        
    }
    &__img {
        width: 158px;
        height: 158px;
        position: relative;
        margin : 0 auto;

        .playerlst_d_img {
            width: 158px;
            height: 158px;
        }
        
    }
    &__img &__count {
        position: absolute;
        right: 10px;
        top: 10px;
        height: 28px;
        border: 1px solid $C-font-dark;
        border-radius: 14px;
        padding:0 10px;
        font-size: 1.6rem;
        line-height: 29px;
        font-family: $F-family-bold;
        color: $C-font-dark;
        background: rgba(255,255,255,.3);

        &:before {
            content:'';
            @include use-sprite(nugu_advice_icon_mic2);
            vertical-align: top;
            margin: 6px 5px 0 0;
        }
    }
    &__title {
        @include ellipsis (block, 100%);
        text-align: center;
        font-size: $F-size;
        color: $C-black;
        margin-top: 10px;
    }
    &__total {
        @include ellipsis (block, 100%);
        text-align: center;
        font-size: $F-size-under;
        color: $C-font-light; 
    }
}