@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_melon
/* ---------------------------------------------------------------------- */
.playerlst {
    margin-top: 7px;
    &.active {

        .playerlst__img {
            &:before {
                content:'';
                position: absolute;
                left: -3px;
                top: -3px;
                width: 165px;
                height: 165px;
                border: 3px solid #ff4909;
                border-radius: 2px;
                z-index: 2;
            }
        }
        .playerlst__count {
            border-color: #ff4909;
            background: #ff4909;
            color: #fff;
            &:before {
                content:'';
                display: inline-block;
                vertical-align: top;
                width: 10px;
                height: 15px;;
                background: url('../../assets/images/melon/nugu_advice_icon_mic2_on.png') no-repeat 0 0;
                background-size: 10px 15px;
                margin: 6px 5px 0 0;
            }
        }
        
    }
    &__img {
        width: 165px;
        height: 165px;
        position: relative;
        margin : 0 auto;
        .playerlst_d_img {
            width: 165px;
            height: 165px;
        }
        
    }
    &__img &__count {
        position: absolute;
        right: 5px;
        top: 5px;
        height: 28px;
        padding:0 10px;
        border: 1px solid #333;
        background: rgba(255,255,255,.7);
        border-radius: 14px;
        font-size: 1.6rem;
        line-height: 29px;
        font-family: $F-family-bold;
        &:before {
            content:'';
            display: inline-block;
            vertical-align: top;
            width: 10px;
            height: 15px;;
            background: url('../../assets/images/melon/nugu_advice_icon_mic2.png') no-repeat 0 0;
            background-size: 10px 15px;
            margin: 6px 5px 0 0;
        }
    }
    &__title {
        @include ellipsis (block, 100%);
        text-align: center;
        font-size: $F-size;
        color: $C-black;
        margin-top: 10px;
    }
    &__total {
        @include ellipsis (block, 100%);
        text-align: center;
        font-size: $F-size-under;
        color: $C-font-light; 
    }
}