@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_주문
/* ---------------------------------------------------------------------- */
.order_wrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .order_menu_img {
        width: 186px;
        height: 186px;
    }
    .order_box {
        width:760px;
        height: 188px;
        border: 1px solid #d9d9d9;
        border-radius: 1px;
        background: #fcfcfc;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        &__img {
            width: 186px;
            height: 186px;
            position: relative;
            background: #000;
            display: inline-block;
            vertical-align: middle;
            &:before {
                position: absolute;
                width: 184px;
                height: 186px;
                border-right: 1px solid #d9d9d9;
                content:'';
            }
        }
        &__ordertext {
           max-width: 505px;
           margin-left: 45px;
           text-align: center;
           font-size: 2.5rem;
        }
    }

    .order_box2 {
        width: 1300px;
        height: 186px;
        border: 1px solid #d9d9d9;
        border-radius: 1px;
        background: #fcfcfc;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        
    }
    .order_info {
        float: left;
        width: 628px;

        &__img {
            width: 186px;
            height: 186px;
            position: relative;
            background: #000;
            display: inline-block;
            vertical-align: middle;
            &:before {
                position: absolute;
                width: 186px;
                height: 186px;
                border-right: 1px solid #d9d9d9;
                content:'';
            }
        }
        &__box {
            display: inline-block;
            vertical-align: top;
            max-width: 380px;
            margin: 0 20px 0 26px;
        }
        &__menu {
            @include ellipsis;
            vertical-align: top;
            font-size: $F-size-xbig;
            font-family: $F-family-semi;
            margin-top: 26px;
        }
        &__menu-detaile {
            @include ellipsis;
            vertical-align: top;
            font-size: $F-size-under;
            color: $C-font-light;
        }
        &__value {
            @include clear;
        }

        &__price-data {
            float: right;
            font-size: 4.4rem;
            font-family: $F-family-semi;
            color: $C-black;
        }
        &__discount {
            float:left;
            margin-top: 12px;
            color: #ff4909;
            font-size: $F-size-under;
        }
    }
    .delivery_info {
        width: 630px;
        vertical-align: top;

        &:before {
            content: '';
            width: 2px;
            background: #ccc;
            height: 140px;
            position: absolute;
            left: 628px;
            top: 24px;

        }
        &__list {
            margin-left: 32px;
            height: 140px;
        }
        &__item {
            @include clear();
            @include ellipsis(block);
            vertical-align: top;
            min-height: 50px;
        }
        &__item-title {
            float: left;
            font-size: $F-size-under;
            font-family: $F-family-semi;

        }
        &__item-data {
            @include ellipsis;
            float: left;
            margin-left: 10px;
            max-width: 480px;
            font-size: $F-size-under;
            color:$C-font-light;
           
            &.active {
                color: #ff4909;
            }
        }
    }
    .order_btnbox {
        margin-left: 10px;
        &__button {
            width: 188px;
            height: 90px;
            outline: 1px solid #d9d9d9;
            display: block;
            background: #fff;
            border: 5px solid #fff;
            border-radius: 1px;
            font-size: $F-size-under;
            font-family: $F-family-semi;
            cursor: pointer;

            & + .order_btnbox__button {
                margin-top: 9px;
            }
            &.active {
                border: 5px solid #ff4909;
                outline: 1px solid #ff4909;
                color:#ff4909;
            }
        }
        &__button-large {
            width: 188px;
            height: 188px;
            outline: 1px solid #d9d9d9;
            display: block;
            background: #fff;
            border: 5px solid #fff;
            border-radius: 1px;
            font-size: $F-size-under;
            font-family: $F-family-semi;
            cursor: pointer;

            &.active {
                border: 5px solid #ff4909;
                outline: 1px solid #ff4909;
                color:#ff4909;
            }
        }
    }

    .order_mybox {
        width:712px;
        height: 232px;
        border: 1px solid #d9d9d9;
        border-radius: 1px;
        background: #fcfcfc;
        margin-top: -25px;
        &__title {
            display: block;
            border-bottom: 2px solid #ccc;
            font-size: $F-size;
            font-family: $F-family-semi;
            color:$C-font-dark;
            height: 46px;
            padding-top: 19px;
        }
        + .order_mybox {
            margin-left: 10px;
        }
    }
    .order_myinfo {
        // width: 712px;
        .order_menu_img {
            width: 232px;
            height: 232px;
        }
        &__img {
            width: 232px;
            height: 232px;
            position: relative;
            background: #000;
            display: inline-block;
            vertical-align: middle;
            &:before {
                position: absolute;
                width: 231px;
                height: 232px;
                border-right: 1px solid #d9d9d9;
                content:'';
            }
        }
        &__box {
            display: inline-block;
            vertical-align: top;
            width: 420px;
            height: 130px;
            margin: 0 25px;
        }
        &__menu {
            @include ellipsis(block,100%);
            vertical-align: top;
            margin-top: 12px;
            font-size: $F-size-xbig;
            font-family: $F-family-semi;
        }
        &__menu-detaile {
            
            @include ellipsis(block,100%);
            vertical-align: top;
            margin-top: 2px;
            font-size: $F-size-under;
            color: $C-font-light;
        }
        &__value {
            @include clear;
        }

        &__price-data {
            float:right;
            font-size: $F-size-xxxbig;
            font-family: $F-family-semi;
        }
        &__discount {
            float:left;
            margin-top: 10px;
            font-size: $F-size-under;
            color: #ff4909;
        }
        &__nondata {
            display: none;
        }
        &.none {

            .order_myinfo__nondata {
                display: block;
                text-align: center;
                margin-top: 94px;
            }
            .order_myinfo__nondata-logo {
                display: inline-block;
                vertical-align: middle;
                width: 101px;
                height: 22px;
                margin: 3px 5px 0 0;
                background: url('../../assets/images/order/ico_logo.png') no-repeat 0 0;
            }
            .order_myinfo__nondata-text {
                font-size: $F-size-small;
                color: $C-font-light;
            }
            .order_myinfo__img,
            .order_myinfo__box {
                display: none;
            }
        }
    }
}
.order_text {
    text-align: center;
    font-size: $F-size-big;
    &.price {
        &:before {
            content:'';
            display: inline-block;
            vertical-align: top;
            width: 29px;
            height: 28px;
            margin: 5px 7px 0 0;
            background: url('../../assets/images/order/ico_txt.png') no-repeat 0 0;
        }
    }
    .order_ico_text {
        display: inline-block;
        vertical-align: top;
        border: 2px solid #000;
        margin: 0 5px;
        height: 36px;
        border-radius: 18px;
        padding:0 15px;
        line-height: 36px;
        font-family: $F-family-semi;
        font-size: $F-size-under;
        &:before {
            content:'';
            width: 19px;
            height: 24px;
            display: inline-block;
            vertical-align: top;
            margin: 4px 5px 0 0;
            background: url('../../assets/images/order/ico_mic.png') no-repeat 0 0;
        }
    }
    + .order_wrap{
        margin-top: 7px;
    }
}