@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_Schedule
/* ---------------------------------------------------------------------- */
.schedule_wrap {
    justify-content: center;
    margin-top: 5px;
    padding-top: 7px;
    .card_wrap__item {
        position: relative;
        background: #fcfcfc;
        margin: 0 5px;
        &.date {
            background: #f3f3f3;
        }
    }
    .schedule_default_card {
        
        &__time {
            height: 66px;
            margin: 0 20px;
            border-bottom: 1px solid #e2e2e2;
            text-align: center;
            .ampm {
                display: inline-block;
                vertical-align: top;
                height: 32px;
                margin-top: 19px;
                padding:0 15px;
                border-radius: 16px;
                line-height: 32px;
                font-size: 2.3rem;
                color:#626262;
                background: #e6e6e6;
            }
            .time {
                display: inline-block;
                vertical-align: top;
                margin-top: 18px;
                color:#626262;
                font-size: $F-size-small;
            }
        }
       
        &__action {
            margin: 10px 28px 15px;
            text-align: left;
            font-size: $F-size;
            color: $C-black;
            @include multiline-ellipsis(4,$F-size,1.25,block);
            
        }

        &__month {
            margin-top: 27px;
            text-align: center;
            font-size: $F-size-under;

            color: #808080;
        }
        &__day {
            margin: 10px 0 9px;
            text-align: center;
            font-size: 6.8rem;
            color: $C-font-dark;
        }
        &__week {
            text-align: center;
            font-size: $F-size;
            font-family: $F-family-semi;
            color: #4c4c4c;
        }
    }
}