@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_쇼핑
/* ---------------------------------------------------------------------- */

%img186 {
    width: 186px;
    height: 186px;
}
%img234 {
    width: 234px;
    height: 234px;
}
%img1300 {
    width: 1300px;
    height: 186px;
}
%img807 {
    width:807px;
    height: 186px;
}
%img900 {
    width:900px;
    height: 186px;
}
%img721 {
    width:721px;
    height: 234px;
}
%bar {
    @include absolute(0,null, null, 0);
    width: 2px;
    height: 140px;
    background: $C-border-gray_cc;
}
%imgbar {
    @include absolute(0,0,0,0);
    @extend %img186;
    border-right: 1px solid $C-border-gray_d9;
}
%imgbar_l {
    @include absolute(0,0,0,0);
    @extend %img234;
    border-right: 1px solid $C-border-gray_d9;
}
%btn {
    @include border-radius-multi(1px,1px,1px,1px);
    width: 188px;
    display: block;
    border: 5px solid $C-white;
    outline: 1px solid $C-border-gray_d9;
    font-size: $F-size;
    font-family: $F-family-bold;
    cursor: pointer;
    background: $C-white;
    &:focus,
    .active {
        border: 5px solid $C-font-point;
        outline: 1px solid $C-font-point;
        color: $C-font-point;
    }
}

.shopping_wrap {
    @include flex();
    @include flex-justify(center);
    @include flex-align(center);
    margin-top: 28px;
}
.shopping_menu_img {
    @extend %img186;
}
.shopping_btnbox {
    margin-left: 10px;
    &__button {
        @extend %btn;
        height: 90px;
        & + .shopping_btnbox__button {
            margin-top: 9px;
        }
    }
    &__button-large {
        @extend %btn;
        height: 188px;
    }
}

.shopping_box {
    @include flex();
    @include flex-justify(flex-start);
    @include flex-align(center);
    @include border-radius-multi(1px,1px,1px,1px);
    @extend %img900;
    border: 1px solid $C-border-gray_d9;
    background: $C-light-gray_fc;

    &__img {
        @extend %img186;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        background: $C-black;

        &:before {
            @extend %imgbar;
            content:'';
        }
    }
    &__ordertext {
        margin-left: 45px;
        max-width: 505px;
        text-align: center;
        font-size: $F-size-25;
    }

}
.shopping_box2 {
    @include flex();
    @include flex-justify(flex-start);
    @include flex-align(center);
    @include border-radius-multi(1px,1px,1px,1px);
    @extend %img900;
    border: 1px solid $C-border-gray_d9;
    background: $C-light-gray_fc;

    &__img {
        @extend %img186;
        position: relative;
        display: inline-block;
        vertical-align: top;
        background: $C-black;
        &:before {
            @extend %imgbar;
            content:'';
        }
    }
    &__info {
        margin: 0 30px;
    }
    &__title {
        @include clear;
        @include flex();
        @include flex-justify(flex-start);
        @include flex-align(center);
        width: 650px;
        padding-bottom: 5px;
    }
    &__text-ellipsis {
        @include ellipsis;
    }
    &__title-main {
        min-width: 70%;
        text-align: left;
        .shopping_box2__text-ellipsis {
            font-family: $F-family-bold;
            font-size: $F-size-34;
        }
    }
    &__title-sub {
        min-width: 30%;
        .shopping_box2__text-ellipsis {
            font-size: $F-size;
            margin-left:10px;
        }
    }
    &__data {
        @include flex();
        @include flex-justify(space-between);
        @include flex-align(center);
        margin-top: 2px;
    }
    &__data-detail {
        text-align: left;
    }
    &__data-name {
        font-size: $F-size-under;
        color: $C-font-point;
    }
    &__data-delivery {
        font-size: $F-size-under;
        margin-top: -3px;
    }
    &__before-price {
        margin:18px 10px 0;
        display: inline-block;
        vertical-align: top;
        text-decoration: line-through;
        color: $C-font-light;
        font-size: $F-size-under;
    }
    &__after-price {
        display: inline-block;
        vertical-align: top;
        font-size: $F-size-54;
        font-family: $F-family-semi;

    }
}

/* 배송 정보와 상품 정보를 함께 볼 때 */
.shopping_box3 {
    @include flex();
    @include flex-justify(flex-start);
    @include flex-align(center);
    @include border-radius-multi(1px,1px,1px,1px);
    @extend %img1300;
    position: relative;
    border: 1px solid $C-border-gray_d9;
    background: $C-light-gray_fc;
    &.end {
        margin-top: 30px;
    }
}
.shopping_info {
    @include flex();
    @include flex-justify(flex-start);
    @include flex-align(center);
    @extend %img807;

    &__img {
        @extend %img186;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        &:before {
            @extend %imgbar;
            content:'';
        }
    }
    &__info {
        margin: 0 30px;
    }
    &__title {
        @include clear;
        @include flex();
        @include flex-justify(flex-start);
        @include flex-align(center);
        max-width: 550px;
        padding-bottom: 5px;
    }
    &__text-ellipsis {
        @include ellipsis;
    }
    &__title-main {
        min-width: 30%;
        text-align: left;
        font-family: $F-family-bold;
        font-size: $F-size-34;
    }
    &__title-sub {
        max-width: 70%;
        text-align: left;
        font-size: $F-size-under;
    }
    &__data {
        @include flex();
        @include flex-justify(space-between);
        @include flex-align(center);
        margin-top: 16px;
    }
    &__data-detail {
        text-align: left;
    }
    &__data-name {
        font-size: $F-size-under;
        color: $C-font-point;
    }
    &__data-delivery {
        margin-top: -3px;
        font-size: $F-size-under;
    }
    &__data-price {
        @include flex();
        @include flex-justify(center);
        @include flex-align(center);
    }
    &__before-price {
        padding-right: 10px;
        text-decoration: line-through;
        color: $C-font-light;
        font-size: $F-size-under;
    }
    &__after-price {
        font-size: $F-size-54;
        font-family: $F-family-bold;
    }
}
.delivery_info {
    @include flex();
    @include flex-justify(center);
    @include flex-align(center);
    height: 186px;
    vertical-align: top;
    position: relative;
    text-align: left;
    &:before {
        @extend %bar;
        top: 23px;
        content: '';
    }
    &__wrap {
        margin: 0 30px 0 35px;
    }
    &__title {
        padding-bottom: 5px;
        font-size: $F-size-under;
        font-family: $F-family-semi;
    }
    &__data {
        @include multiline-ellipsis(2,$F-size-under,$base-line-height);
        color: $C-font-light;
    }
}

/* 추천 상품이나 내 상품을 볼 때 */
.shopping_mybox {
    @include border-radius-multi(1px,1px,1px,1px);
    @extend %img721;
    margin-top: -23px;
    border: 1px solid $C-border-gray_d9;
    background: $C-light-gray_fc;
    .shopping_menu_img {
        @extend %img234;
    }
    &__title {
        margin: 0 30px;
        display: block;
        border-bottom: 2px solid $C-border-gray_cc;
        padding: 13px 0 2px;
        text-align: center;
        font-size: $F-size-24;
    }
    + .shopping_mybox {
        margin-left: 10px;
    }
    &__title-date{
        &:before {
            margin: 5px 14px 0;
            display: inline-block;
            vertical-align: top;
            width: 2px;
            height:24px;
            background: $C-border-gray_cc;
            content:'';
        }
    }
}
.shopping_myinfo {
    @include flex();
    @include flex-justify(flex-start);
    @include flex-align(center);
    height: 234px;

    &__img {
        @extend %img234;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        background: $C-black;

        &:before {
            @extend %imgbar_l;
            content:'';
        }
    }
    &__info {
        margin: 0 30px;
    }
    &__order-info {
        height: 56px;
        border-bottom: 2px solid $C-border-gray_cc;
        text-align: left;
    }
    &__order-state {
        @include border-radius-multi(18px,18px,18px,18px);
        display:inline-block;
        vertical-align: top;
        height:36px;
        padding: 0 15px;
        color: $C-white;
        font-size: $F-size-24;
        font-family: $F-family-bold;
        line-height: 36px;
        background: $C-font-point;
    }
    &__state-date {
        margin: 2px 0 0 10px;
        display: inline-block;
        vertical-align: top;
        font-size: $F-size-small;
        color:$C-font-dark;

    }
    &__title {
        @include clear;
        @include flex();
        @include flex-justify(flex-start);
        @include flex-align(center);
        width: 427px;
        padding-top: 20px;
        text-align: left;
    }
    &__text-ellipsis {
        @include ellipsis;
    }
    &__title-main {
        min-width: 30%;
        font-size: $F-size-34;
        font-family: $F-family-semi;
    }
    &__title-sub {
        max-width: 70%;
        font-size: $F-size-small;
    }
    &__data {
        @include flex();
        @include flex-justify(space-between);
        @include flex-align(flex-start);
    }
    &__data-detail {
        white-space: nowrap;
    }
    &__data-name {
        font-size: $F-size-24;
        color: $C-font-point;
    }
    &__data-delivery {
        margin-top: 7px;
        display: inline-block;
        vertical-align: top;
        font-size: $F-size-under;
    }
    &__data-price {
        display: block;
        text-align: right;
    }
    &__before-price {
        text-decoration: line-through;
        color: $C-font-light;
        font-size: $F-size-24;
    }
    &__after-price {
        display: inline-block;
        vertical-align: top;
        font-size: $F-size-42;
        font-family: $F-family-semi;
    }
}

/* 상단 설명 텍스트 있을 경우 */
.order_text {
    text-align: center;
    font-size: $F-size-big;
    min-height: 39px;

    &.price {
        &:before {
            @include use-sprite(ico_check);
            vertical-align: top;
            margin: 3px 5px 0 0;
            content:'';
        }
    }
    .order_ico_text {
        @include border-radius-multi(18px,18px,18px,18px);
        margin: 0 5px;
        display: inline-block;
        border: 2px solid $C-black;
        height: 36px;
        padding:0 15px;
        vertical-align: top;
        line-height: 36px;
        font-family: $F-family-bold;
        font-size: $F-size-under;

        &:before {
            @include use-sprite(ico_order_mic);
            margin: 5px 5px 0 0;
            vertical-align: top;
            content:'';
        }
    }
}
.order_text + .shopping_wrap {
    margin-top: 7px;
}
.shopping_box2__title-main + .shopping_box2__title-sub {
    padding: 0 15px;
}