@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_쇼핑
/* ---------------------------------------------------------------------- */
.shopping_wrap {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    .shopping_menu_img {
        width: 186px;
        height: 186px;
    }
    .shopping_mybox .shopping_menu_img {
        width: 234px;
        height: 234px;
    }
    .shopping_box {
        width:900px;
        height: 186px;
        border: 1px solid #d9d9d9;
        border-radius: 1px;
        background: #fcfcfc;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__img {
            width: 186px;
            height: 186px;
            position: relative;
            background: #000;
            display: inline-block;
            vertical-align: middle;
            &:before {
                position: absolute;
                width: 185px;
                height: 186px;
                border-right: 1px solid #d9d9d9;
                content:'';
            }
        }
        &__ordertext {
           max-width: 505px;
           margin-left: 45px;
           text-align: center;
           font-size: 2.5rem;
        }
       
    }
    .shopping_box2 {
        width:900px;
        height: 186px;
        border: 1px solid #d9d9d9;
        border-radius: 1px;
        background: #fcfcfc;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__img {
            width: 186px;
            height: 186px;
            position: relative;
            background: #000;
            display: inline-block;
            vertical-align: top;
            &:before {
                position: absolute;
                width: 185px;
                height: 186px;
                border-right: 1px solid #d9d9d9;
                content:'';
            }
        }
        &__info {
            margin: 0 30px;
        }
        &__title {
            @include clear;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 650px;
            padding-bottom: 5px;
        }
        &__title-main {
            min-width: 30%;
            .shopping_box2__text-ellipsis {
                @include ellipsis;
                font-family: $F-family-semi;
                font-size: $F-size-xbig;
            }
        }
        &__title-sub {
            max-width: 70%;

            .shopping_box2__text-ellipsis {
                @include ellipsis;
                font-size: $F-size;
            }
        }

        &__data {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 2px;
        }

        &__data-name {
            font-size: $F-size-under;
            color: #ff4808;
        }
        &__data-delivery {
            font-size: $F-size-under;
            margin-top: -3px;
            
        }
        &__before-price {
            display: inline-block;
            vertical-align: top;
            text-decoration: line-through;
            color: $C-font-light;
            font-size: $F-size-under;
            margin:18px 10px 0;
        }
        &__after-price {
            display: inline-block;
            vertical-align: top;
            font-size: 5.4rem;
            font-family: $F-family-semi;
            
        }
    }
    .shopping_box3 {
        width: 1300px;
        height: 186px;
        border: 1px solid #d9d9d9;
        border-radius: 1px;
        background: #fcfcfc;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        &.end {
            margin-top: 30px;
        }
    }
    .shopping_info {
        width:807px;
        height: 186px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__img {
            width: 186px;
            height: 186px;
            position: relative;
            background: #000;
            display: inline-block;
            vertical-align: middle;
            &:before {
                position: absolute;
                width: 185px;
                height: 186px;
                border-right: 1px solid #d9d9d9;
                content:'';
            }
        }
        &__info {
            margin: 0 30px;
        }
        &__title {
            
            @include clear;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 550px;
            padding-bottom: 5px;
        }
        &__title-main {
            min-width: 30%;
            .shopping_info__text-ellipsis {
                @include ellipsis;
                font-family: $F-family-semi;
                font-size: $F-size-xbig;
            }
        }
        &__title-sub {
            max-width: 70%;

            .shopping_info__text-ellipsis {
                @include ellipsis;
                font-size: $F-size-under;
            }
        }

        &__data {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;
        }

        &__data-name {
            font-size: $F-size-under;
            color: #ff4808;
        }
        &__data-delivery {
            font-size: $F-size-under;
            margin-top: -3px;
            
        }
        &__before-price {
            text-decoration: line-through;
            color: $C-font-light;
            font-size: $F-size-under;
        }
        &__after-price {
            font-size: 5.4rem;
            font-family: $F-family-semi;
        }
    }
    .delivery_info {
        max-width: 540px;
        vertical-align: top;

        &:before {
            content: '';
            width: 2px;
            background: #ccc;
            height: 140px;
            position: absolute;
            left: 800px;
            top: 24px;

        }
        &__wrap {
            margin: 0 30px 0 35px;
        }
        &__title {
            font-size: $F-size-under;
            font-family: $F-family-semi;
            padding-bottom: 5px;
        }

        &__data {
            color: $C-font-light;
            @include multiline-ellipsis(2,$F-size-under,$base-line-height);
        }
    }
    .shopping_btnbox {
        margin-left: 10px;
        &__button {
            width: 188px;
            height: 90px;
            outline: 1px solid #d9d9d9;
            display: block;
            background: #fff;
            border: 5px solid #fff;
            border-radius: 1px;
            font-size: $F-size-under;
            font-family: $F-family-semi;
            cursor: pointer;

            & + .shopping_btnbox__button {
                margin-top: 9px;
            }
            &.active {
                border: 5px solid #ff4909;
                outline: 1px solid #ff4909;
                color:#ff4909;
            }
        }
        &__button-large {
            width: 188px;
            height: 188px;
            outline: 1px solid #d9d9d9;
            display: block;
            background: #fff;
            border: 5px solid #fff;
            border-radius: 1px;
            font-size: $F-size;
            font-family: $F-family-semi;
            cursor: pointer;

            &.active {
                border: 5px solid #ff4909;
                outline: 1px solid #ff4909;
                color:#ff4909;
            }
        }
    }

    .shopping_mybox {
        width:721px;
        height: 234px;
        border: 1px solid #d9d9d9;
        border-radius: 1px;
        background: #fcfcfc;
        margin-top: -23px;
        &__title {
            display: block;
            border-bottom: 2px solid #ccc;
            margin: 0 30px;
            text-align: center;
            font-size: $F-size-xsmall;
            padding: 13px 0 2px;
        }
        + .shopping_mybox {
            margin-left: 10px;
        }

        &__title-state{
        }

        &__title-date{
            &:before {
                content:'';
                width: 2px;
                background:#ccc;
                height:24px;
                display: inline-block;
                vertical-align: top;
                margin: 5px 14px 0;
            }
        }
    }
    .shopping_myinfo {
        //width:690px;
        height: 234px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        &__img {
            width: 234px;
            height: 234px;
            position: relative;
            background: #000;
            display: inline-block;
            vertical-align: middle;
            &:before {
                position: absolute;
                width: 233px;
                height: 234px;
                border-right: 1px solid #d9d9d9;
                content:'';
            }
        }
        &__info {
            margin: 0 30px;
        }
        &__order-info {
            height: 56px;
            border-bottom: 1px solid #d9d9d9;
            margin-top: 22px;
        }
        &__order-state {
            display:inline-block;
            vertical-align: top;
            padding: 0 15px;
            background: #ff4909;
            color:#fff;
            font-size: $F-size-xsmall;
            font-family: $F-family-bold;
            height:36px;
            border-radius: 18px;
            line-height: 36px;
        }
        &__state-date {
            display: inline-block;
            vertical-align: top;
            margin: 2px 0 0 10px;
            font-size: $F-size-small;
            color:$C-font-dark;

        }
        &__title {
            @include clear;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 427px;
            padding-top: 20px;
        }
        &__title-main {
            min-width: 30%;
            .shopping_myinfo__text-ellipsis {
                @include ellipsis;
                font-size: $F-size-xbig;
                font-family: $F-family-semi;
            }
        }
        &__title-sub {
            max-width: 70%;

            .shopping_myinfo__text-ellipsis {
                @include ellipsis;
                font-size: $F-size-small;
            }
        }

        &__data {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        &__data-detail {
            white-space: nowrap;
        }
        &__data-name {
            font-size: $F-size-xsmall;
            color: #ff4808;
        }
        &__data-delivery {
            display: inline-block;
            vertical-align: top;
            margin-top: 7px;
            font-size: $F-size-under;
            
        }
        &__data-price {
            display: block;
            text-align: right;
        }
        &__before-price {
            text-decoration: line-through;
            color: $C-font-light;
            font-size: $F-size-xsmall;
        }
        &__after-price {
            font-size: $F-size-xxxbig;
            font-family: $F-family-semi;
            display: inline-block;
            vertical-align: top;
        }

        
    }
}
.order_text {
    text-align: center;
    font-size: $F-size-big;
    min-height: 39px;
    &.price {
        &:before {
            content:'';
            display: inline-block;
            vertical-align: top;
            width: 29px;
            height: 28px;
            margin: 3px 5px 0 0;
            background: url('/images/order/ico_txt.png') no-repeat 0 0;
        }
    }
    .order_ico_text {
        display: inline-block;
        vertical-align: top;
        border: 2px solid #000;
        height: 36px;
        border-radius: 18px;
        padding:0 15px;
        line-height: 36px;
        font-family: $F-family-bold;
        font-size: $F-size-under;
        margin: 0 5px;
        &:before {
            content:'';
            width: 19px;
            height: 24px;
            display: inline-block;
            vertical-align: top;
            margin: 5px 5px 0 0;
            background: url('/images/order/ico_mic.png') no-repeat 0 0;
        }
    }
}
.order_text + .shopping_wrap {
    margin-top: 7px;
}
.shopping_box2__title-main + .shopping_box2__title-sub {
    margin-left: 45px;
}