@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_스포츠
/* ---------------------------------------------------------------------- */

%bar {
    margin: 5px 7px 0 7px;
    display: inline-block;
    vertical-align: top;
    width: 2px;
    height: 24px;
    background: $C-border-gray;
}
%img200 {
    width: 200px;
    height: 200px;
}
%img100 {
    width: 100px;
    height: 100px;
}
.myteam {
    color: $C-font-dark-gray !important;
    &.win {
        color: $C-font-point !important;
    }
}
.sports_wrap {
    position: relative;
    margin-top: 12px;

    //더블헤더경기보기
    &.double {
        @include flex();
        @include flex-align(center);
        @include flex-justify(center);

        .game_bar {
            margin: 10px 10px 0;
            width: 4px;
            height: 142px;
            vertical-align: top;
            background: $C-border-gray3;
        }
        .game_box {
            width: 800px;
            height: 230px;
            position: relative;

            .team-box {
                width:100%;
                padding-top: 60px;
                &__team {
                    &:last-child {
                        .team-box__record {
                            margin-left: 0;
                            margin-right: 5px;
                        }

                    }
                }
                &__record {
                    margin-right:5px;
                }

                &__logo {
                    @extend %img100;
                    img {
                        @extend %img100;
                    }
                }
                &__team-name {
                    font-size: $F-size-big;
                }
                &__team-player {
                    font-size: $F-size-small;
                }
            }
            .score-box {
                margin-left: -120px;
                width: 240px;
                top: 60px;
                &__point {
                    font-size: 8.0rem;
                }
                &__vs {
                    //width: 150px;
                    padding: 4px 0;
                    font-size: 8.0rem;
                }
                &__other {
                    padding-top: 20px;
                }
            }

            .gameinfo-box {
                position: absolute;
                bottom: 15px;
                left: 0;
                right: 0;
                text-align: center;
                &__info {
                    font-size: $F-size-under;

                }
            }
        }
    }

}
//팀순위보기
.teamrank_wrap {
    @include flex();
    @include flex-align(center);
    @include flex-justify(center);

    margin-top: 10px;
    .sports_img {
        width: 50px;
        height: 50px;
    }
    &__list {
        width: 712px;
        +.teamrank_wrap__list {
            margin-left: 2px;
        }
    }
    &__list-item {
        height: 78px;
        font-size: $F-size-under;
        line-height: 78px;
        background: $C-white;

        &:nth-child(2n) {
            background: $C-light-grayBg3;
        }
        &.winner {
            .teamrank_wrap__item-logo {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: 2px;
                    top: 14px;
                    width: 46px;
                    height: 46px;
                    background: url('/images/sports/nugu_sports_rank_icon_badge.png') no-repeat 0 0;
                }
            }

        }
        &.active {
            color: $C-font-point;
        }
        &.none {
            .teamrank_wrap__item-ranking,
            .teamrank_wrap__item-logo,
            .teamrank_wrap__item-name,
            .teamrank_wrap__item-game,
            .teamrank_wrap__item-diff,
            .teamrank_wrap__item-scoring,
            .teamrank_wrap__item-winrate {
                display: none;
            }
        }
        @include clear;
    }
    &__item-ranking {
        float:left;
        width: 57px;
        text-align:center;
        font-size: $F-size;
        font-family: $F-family-bold;
    }
    &__item-logo {
        float:left;
        width: 63px;

        .sports_img {
            vertical-align: middle;
            margin-top: -4px;
        }
    }
    &__item-name {
        float:left;
        width: 63px;
        font-family: $F-family-bold;
    }
    &__item-game {
        float:left;
        font-size: 2.2rem;
    }
    &__item-diff,
    &__item-scoring,
    &__item-winrate {
        float:left;
        font-size: 2.2rem;
        &:before {
            content:'';
            margin: 0 10px;
            width: 2px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            background: $C-border-gray4;
        }
    }
}

//게임스케쥴(지난,이번,다음)
.game_schedule {

    .card_wrap__item {
        background: $C-light-gray;
        border-radius: 0;
        position: relative;
        &.card_box348 {
            width: 348px;
            height: 232px;
        }
    }
    .game_card_wrap {
        &__date,
        &__turn {
            padding-top: 20px;
            box-sizing: border-box;
            text-align: center;
            font-size: $F-size-small;
            color: $C-font-light;
            min-height: 48px;
        }
        &__turn {
            color: $C-black;
        }
        &__logo {

            @include flex();
            @include flex-justify(space-around);
            padding: 15px 21px 0;
            white-space: nowrap;
            box-sizing: border-box;
        }
        &__team1,
        &__team2 {
            flex:1;

            font-size: $F-size-small;
            font-family: $F-family-bold;
            color: $C-black;
            text-align: center;
            vertical-align: middle;

            &.yet {
                color: $C-font-light;
                font-family: $F-family-basic;
            }
        }
        &__vs {
            padding: 0 10px;
            color: #9b9b9b;
            font-size: $F-size-xsmall;
            text-align: center;
        }
        &__point {
            @include flex();
            @include flex-justify(center);
            @include flex-align(center);
            box-sizing: border-box;
            padding-top: 5px;
        }
        &__score {
            overflow: hidden;
            text-align: center;
            font-family:$F-family-bold;
            font-size: 4.8rem;
            color: $C-font-light;
        }
        &__vs2 {

            padding: 0 5px;
            font-size: $F-size-xxxbig;
            color: $C-font-light2;

        }
        &__info {
            @include flex();
            @include flex-justify(center);
            @include flex-align(center);
            font-size: $F-size-xsmall;
            color: $C-font-light;
            position:absolute;
            bottom: 13px;
            left: 0;
            right: 0;
            text-align: center;
        }


        &__nodata {
            display: none;
        }
        &__pitcher {
            @include flex();
            @include flex-justify(space-around);
            box-sizing: border-box;
            padding: 18px 0 39px;
        }
        &__pitcher-name {
            @include ellipsis(1);
            width: 50%;
            text-align: center;
            font-size: 2.3rem;
            color: $C-font-light;

        }

    }
    .stadium {
        .game_card_wrap__team1,
        .game_card_wrap__team2 {
            img {
                width: 80px;
                height: 80px;
            }
        }
        .game_card_wrap__team1 {
            text-align:left;
        }
        .game_card_wrap__team2 {
            text-align:right;
        }
        .game_card_wrap__team-log {
            display: block;
        }
        .game_card_wrap__team-name {
            display: inline-block;
            vertical-align: top;
            width: 80px;
            text-align: center;
            font-size: $F-size-xsmall;
            font-family: $F-family-bold;
            color: $C-font-dark-gray;
        }
        .game_card_wrap__logo {
            @include flex();
            @include flex-justify(space-between);
            @include flex-align(center);
            padding: 0 20px 0;
            white-space: nowrap;
        }
        .game_card_wrap__point {
            @include flex();
            @include flex-justify(center);
            @include flex-align(center);
            position: absolute;
            left: 0;
            right: 0;
            top: 75px;
        }
        .game_card_wrap__score {
            overflow: hidden;
            text-align: center;
            font-family:$F-family-bold;
            font-size: 4.8rem;
            color: $C-font-light;
        }
        .game_card_wrap__cancel {
            font-size: 4.8rem;
            color: #9b9b9b;
        }
    }
    .double_head {
        @include flex();
        @include flex-justify(space-around);
        width: 401px;
        position: relative;
        &__date {
            position: absolute;
            left:0;
            right: 0;
            top: 15px;
            width: 100%;
            text-align: center;
            font-size: $F-size-small;
            color: $C-font-light;
        }
        .game_card_wrap {
            padding-top: 53px;
            position: relative;
            height: 100%;
            box-sizing: border-box;
            &.none {
                .game_card_wrap__nodata {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 10px;
                    height: 160px;
                    text-align: center;
                    background: $C-light-gray;
                    line-height: 160px;
                    font-size: $F-size-xxbig;
                    color: $C-black;
                }
            }
        }

    }
    .none {
        .game_card_wrap__nodata {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 62px;
            height: 160px;
            text-align: center;
            background: $C-light-gray;
            line-height: 160px;
            font-size: $F-size-xxbig;
            color: $C-font-light2;
        }
    }
    .cancel {
        .game_card_wrap__nodata {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 105px;
            height: 75px;
            text-align: center;
            background: $C-light-gray;
            line-height: 75px;
            font-size: $F-size-xxbig;
            color: $C-font-light2;
        }
    }
    .game_card_wrap + .game_card_wrap {
        &:before {
            content:'';
            position: absolute;
            left: -10px;
            top:70px;
            width: 2px;
            height: 146px;
            background: $C-light-grayBg;
        }
    }
    .game_card_wrap__info-data + .game_card_wrap__place {
        &:before {
            @extend %bar;
            height: 20px;
            margin: 5px 10px 0 7px;
            content: '';
        }
    }
}

.title-box {
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    text-align: center;

    &__game-title {
        font-family: $F-family-bold;
        font-size: $F-size-big;
        color: $C-black;
    }
    &__plus-info {
        font-size: $F-size-under;
        color: $C-font-light;
    }
}
.team-box {
    @include flex();
    @include flex-justify(space-between);
    @include flex-align(center);
    width: 1300px;
    margin: 0 auto;

    &__team {
        &:last-child {
            .team-box__record {
                margin-left: 25px;
                margin-right: 0;
            }
            .team-box__team-info {
                @include flex-direction (row-reverse);

            }
            .team-box__team-name,
            .team-box__team-record,
            .team-box__team-player {
                text-align: left;
            }
        }
    }
    &__record {
        width: 175px;
        margin-right: 25px;
    }
    &__team-info {
        @include flex();
        @include flex-direction (row);
        @include flex-justify(center);
        @include flex-align(center);
    }
    &__team-name {
        text-align: right;
        font-family: $F-family-bold;
        font-size: $F-size-xbig;
        color: $C-font-dark-gray;
    }
    &__team-record {
        text-align: right;
        font-size: $F-size-under;
        color: $C-font-dark-gray;
        letter-spacing: -1px;
    }
    &__team-player {
        padding-top: 4px;
        text-align: right;
        @include multiline-ellipsis(1,$F-size-under,$base-line-height);
        //font-size: $F-size-under;
        color: $C-font-light;

    }
    .player {
        &:before {
            content: '';
            margin: 7px 10px 0;
            display: inline-block;
            vertical-align: top;
            width: 2px;
            height: 24px;
            background: $C-border-gray;
        }
    }
}
.score-box {

    @include flex();
    @include flex-align(center);
    @include flex-justify(space-around);
    margin-left: -243px;
    position: absolute;
    left: 50%;
    top: 35px;
    width: 486px;

    &__point {
        font-family: $F-family-bold;
        font-size: 10.0rem;
        color: $C-font-light;
        text-align: center;
    }
    &__vs {
        box-sizing: border-box;
        font-family: $F-family-bold;
        font-size: 10.0rem;
        color: $C-border-gray6;
        padding: 8px 0;
        text-align: center;
    }
    &__other {
        padding: 45px 0 0;
        font-family: $F-family-bold;
        font-size: 5.0rem;
        color: $C-font-dark;
    }

}
.result-box {
    @include flex();
    @include flex-align(center);
    @include flex-justify(space-between);
    width: 1300px;
    margin: 0 auto;

    &.data-full {
        .result-box__data{
            &:first-child {
                &.win {
                    margin-left: -55px;
                    text-align: left;
                }
            }
            &:last-child {
                &.win {
                    margin-right: -80px;
                    text-align: right;
                }
            }
        }
    }
    &.game_before {
        .result-box__data {
            &:first-child {
                margin-left: -20px;
            }
            &:last-child {
                margin-right: -40px;
            }
        }
    }
    &__data-last {
        @include flex();
        @include flex-align(center);
        @include flex-justify(flex-start);
        margin-right: 0;
        vertical-align: top;
        justify-content: left;
    }
    &__data {
        @include flex();
        @include flex-align(center);
        @include flex-justify(center);
        min-width: 180px;
        color: $C-font-light;
    }
    &__data-label {
        font-size: $F-size;
        font-family: $F-family-bold;
        color: $C-black;
    }
    &__data-name {
        font-family: $F-family-basic;
        font-size: $F-size;
        color: $C-font-light;
        vertical-align: top;
        width: 135px;
        text-align: left;
        @include multiline-ellipsis(1, $F-size, $base-line-height, inline-block);

        &:before {
            @extend %bar;
        }
    }

}
.gameinfo-box {
    margin-top: -30px;
    text-align: center;

    &__info {
        font-size: $F-size;
        color: $C-black;

        .time + .place {
            &:before {
                content:'';
                @extend %bar;
            }
        }
        .date + .time {
            &:before {
                content:'';
                @extend %bar;

            }
        }
    }
}