@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_교통정보
/* ---------------------------------------------------------------------- */
.traffic_wrap {
      
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;
      margin-top: -3px;
      
      .traffic_block {
            max-width: 1300px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                  content:'';
                  width: 230px;
                  height: 230px;
                  border-radius: 50%;
                  overflow: hidden;
                  background: url('../../assets/images/traffic/nugu_traffic_image.png') no-repeat 0 0;
            }
      }
      .traffic {
            margin-left:40px;
            text-align: left;
            &__title {
                  font-size: $F-size-xxxxbig;
                  color: $C-black;
            }
            &__info {
                  font-size: $F-size;
                  margin-top: 16px;
            }
            &__arrive {
                  margin-top: 18px;
                  font-size: $F-size-under;
                  color: $C-font-light; 
            }
            &__arrive-title {
                  color: $C-font-dark;
                  padding-right: 15px;
                  &:before {
                        content:'';
                        @include use-sprite(nugu_traffic_graph_icon_arrival_copy);
                        vertical-align: top;
                        margin: 2px 5px 0 0;
                  }
            }
      }
}
