@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_날씨
/* ---------------------------------------------------------------------- */
//주중 날씨이미지
%img56 {
    width: 56px;
    height: 56px;
}
//주말 날씨이미지
%img132 {
    width: 132px;
    height: 132px;
}
//경보,주의보 날씨이미지
%img155 {
    width: 155px;
    height: 155px;
}
//오늘의 날씨이미지
%img160 {
    width: 160px;
    height: 160px;
}
//대기지수 큰이미지
%img180 {
    width: 180px;
    height: 180px;
}
//대기지수 작은이미지
%img70 {
    width: 70px;
    height: 70px;
}
//대기지수별 폰트컬러
%status-color {
    &.good {
        color: #1dc2f1;
    }
    &.normal {
        color: #00c177;
    }
    &.bad {
        color: #f47b29;
    }
    &.worst {
        color: #d24645;
    }
    &.none {
        color: $C-font-disable;
    }
}
.card_wrap__item {
    &.active {
        background: $C-light-gray_f9;
    }
    &.none {
        .weather_card_wrap__weather,
        .weather_card_wrap__temp {
            display: none;
        }
        .weather_card_wrap__date {
            color: $C-border-gray_b2;
        }
        .weather_card_wrap__nodata {
            display: block;
            box-sizing: border-box;
            padding: 0 20px;
            color: $C-border-gray_b2;
            font-size: $F-size;
        }
    }
}
.weather_s_img {
    @extend %img56;
}
.weather_d_img {
    @extend %img160;
}
.weather_w_img {
    @extend %img56;
}
.weather_card_wrap {
    @include flex();
    @include flex-justify(flex-start);
    @include flex-align(center);
    padding: 20px 0;
    &__date {
        flex: 1;
        text-align: left;
        box-sizing: border-box;
        padding-left: 20px;
        letter-spacing: -1px;
        font-size:$F-size;
        color: $C-font-basic;
        white-space: nowrap;
    }
    &__weather {
        flex: 2;
        .weather_s_img {
            border: 0;
        }
    }
    &__temp {
        flex: 1;
        font-size:$F-size;
        color: $C-font-dark;
        font-family: $F-family-bold;
        font-weight: $F-weight-bold;
        white-space: nowrap;
        padding-right: 20px;
        .degree_low,
        .degree_high {
            display: inline-block;
        }
        .degree_low {
            color: $C-brand-point;
        }
        .degree_high {
            padding-left: 5px;
            color: $C-brand-point2;

        }
    }

    &__nodata {
        display: none;
    }
}

/* 주중 날씨 카드 보기 */
.weather_weekly {
    margin: 6px 30px 0;
    .card_wrap__item {
        border-bottom: 1px solid $C-border-gray_ee;
        &.none {
            //background: $C-light-gray_f3;
            padding: 15px 0;
        }
    }
}

/* 일자별 날씨 보기 */
.weather_daily_wrap {
    //@include flex();
    //@include flex-justify(center);
    width:100%;
}
.weather_daily_represent {
    @include flex();
    @include flex-justify(flex-start);
    @include flex-align(center);
    margin: 30px 0 0 30px;
    //width: 820px;

    &__img {
        @extend %img160;
        .weather_d_simg {
            @extend %img160;
        }
    }
    &__info {
        margin: 0 0 0 25px;
        text-align: left;
    }
    &__title {
        font-family: $F-family-bold;
        font-size: $F-size-42;
        color: $C-font-point;
    }
    &__detail {
        @include flex();
        @include flex-justify(flex-start);
        margin-top: 0;
        min-height: 83px;
    }
    &__degree {
        margin-top: 5px;
        letter-spacing: -1px;
        font-family: $F-family-bold;
        font-size: $F-size-60;
        color: $C-font-dark;


        .data {
            margin-top: -2px;
            display: inline-block;
            vertical-align: top;
            padding: 0 2px 0 0;
        }
    }
    &__detail_more {
        margin: 15px 0 0 0;
    }
    &__better {
        font-size: $F-size;
        color: $C-font-light;
    }
    &__degree_more {
        margin-top: 0;
        font-size: $F-size;
        color: $C-font-dark;

        .degree_low,
        .degree_high {
           display: block;
        }
        .degree_low {
            color: $C-brand-point;
        }
        .degree_high {
            color: $C-brand-point2;
        }
        .data {
            display: inline-block;
            vertical-align: top;
        }
    }
    &__precipitation,
    &__dust {
        display: block;
        vertical-align:top;
        font-size: $F-size;
        color: $C-font-light;
    }
    &__special {
        margin: -4px 15px 0 0;
        //width: 250px;
        text-align: center;
    }
    &__special-name {
        @include border-radius-multi(50%,50%,50%,50%);
        margin: 26px auto 0;
        display: inline-block;
        vertical-align: top;
        width: 160px;
        height: 160px;
        line-height: 160px;
        text-align: center;
        background: $C-light-gray_bb;
        color: $C-white;
        font-size: $F-size-under;
        font-weight: $F-weight-bold;
    }
    &__special-img {
        text-align: center;
        padding: 13px 0 0;
        .weather_d_simg {
            @extend %img155;
        }
    }
    &__special-time {
        font-size: $F-size;
        font-family: $F-family-semi;
        color: $C-font-light;
    }
}
.weather_daily_timeline {
    //margin: 25px 0 0 70px;
    margin-top: 40px;
    .weather_d_simg {
        @extend %img56;

    }
    &__list {
        //@include flex();
        //@include flex-justify(center);
    }
    &__item {
        @include flex();
        @include flex-justify(flex-start);
        @include flex-align(center);
        border-bottom: 1px solid $C-border-gray_ee;
        margin: 0 30px;
        text-align: center;
        padding: 10px 0;
    }
    &__time {
        //padding-bottom:10px;
        font-size: $F-size;
        color: $C-font-dark;
        flex: 1;
    }
    &__img {
        flex: 2;

    }
    &__degree {
        //padding-top:10px;
        font-family: $F-family-bold;
        font-size: $F-size;
        color: $C-font-dark;
        flex: 1;
    }
}
.weather_daily_represent__special + .weather_daily_represent__info {
    margin-left: 0;
    margin-top: 19px;
}
.weather_daily_represent__dust + .weather_daily_represent__dust,
.weather_daily_represent__degree + .weather_daily_represent__detail_more {
    margin-left: 26px;
}


/* 주말 날씨 보기 */
.weather_weekend_wrap {
    //@include flex();
    //@include flex-justify(center);
    //@include flex-align(center);
    margin-top: 34px;
}
.weather_weekend {
    @include flex();
    @include flex-justify(flex-start);
    border-bottom: 1px solid $C-light-gray_ee;
    padding: 20px 0;
    margin: 0 30px;

    &__info {
        @include flex();
        @include flex-justify(flex-start);
        @include flex-align(center);
        flex: 3;
        text-align: center;
    }
    &__date {
        flex: 1;
        box-sizing: border-box;
        padding-left: 10px;
        text-align:left;
        font-size: $F-size;
    }
    &__weather_img {
        @extend %img56;
        flex:1;
    }
    &__info_more {
        @include flex();
        @include flex-justify(flex-start);
        @include flex-align(center);
        flex: 1;
        text-align: right;
        box-sizing: border-box;
        padding-right: 10px;
        white-space: nowrap;
    }
    &__weather_title {
        display: none;
        font-size: $F-size-46;
        color: $C-font-point;
        font-family: $F-family-bold;
    }
    &__temp {
        margin-top: 12px;
        font-size: $F-size;
        .degree_high,
        .degree_low {
            display: inline-block;
            vertical-align: top;
        }
        .degree_low {
            color: $C-brand-point;
        }
        .degree_high {
            color: $C-brand-point2;
        }
    }
    &__precipitation {
        display: none;
        margin-top:15px;
        font-size: $F-size;
        color: $C-font-light;

        .data {
            margin-right: 3px;
            display: inline-block;
            vertical-align: top;
        }
    }

    &.none {
        .weather_weekend__weather_title,
        .weather_weekend__temp,
        .weather_weekend__precipitation {
            color: $C-font-disable;
        }
        .no_data,
        .weather_w_noimg {
            display: inline;
        }
        .data {
            display: none;
        }

    }
}
.no_data,
.weather_w_noimg {
    display: none;
}
//.weather_weekend + .weather_weekend {
//    margin-left: 57px;
//}

/* 대기 정보 보기 */
.weather_finedust_wrap {
    //@include flex();
    //@include flex-justify(center);
    //@include flex-align(center);
    //margin-top: 28px;
    margin: 0 20px;
}
.weather_atmosphere {
    @include flex();
    @include flex-justify(flex-start);
    @include flex-align(center);

    .weather_d_img {
        @extend %img180;
    }
    &__info{
        text-align: left;
        margin-left: 20px;
    }
    &__title {
        font-family: $F-family-semi;
        font-size: $F-size;
        color: $C-font-light;
    }
    &__status {
        //@extend %status-color;
        //margin-top: 18px;
        font-size: $F-size-34;
        color: $C-font-dark;
        font-family: $F-family-bold;
    }
    &__data {
        margin-top: 8px;
    }
    &__data_value {
        display: inline-block;
        vertical-align: top;
        margin: 0 auto;
        font-family: $F-family-bold;
        font-size: $F-size-60;
        color: $C-font-dark;

    }
}
.weather_finedust {
    //margin: -4px 0 0 95px;
    margin-top: 40px;
    .weather_d_img {
        @extend %img70;
    }
    &__list {
        @include flex();
        @include flex-justify(flex-start);
        @include flex-align(center);
    }
    &__item {
        //width: 230px;
        text-align: center;
        flex:1;
    }
    &__title {
        font-size: $F-size;
        color: $C-font-basic;
    }
    &__info {
        margin: 27px 0 0;
    }
    &__info_img,
    &__info_data {
        display: inline-block;
        vertical-align: middle;
    }
    &__info_data {
        @include border-radius-multi(20px,20px,20px,20px);
        @extend %status-color;
        font-size: $F-size;
        font-family: $F-family-bold;
        display: block;
        height: 40px;
        line-height: 40px;
        background: $C-light-gray_f5;
        margin: 0 10px;

    }
    &__data_value {
        display: inline-block;
        vertical-align: top;
        margin: 15px auto 0;
        line-height: 42px;
        color: $C-font-dark;
        font-size: $F-size;
        font-family: $F-family-bold;
        .data {
            display: inline-block;
            vertical-align: top;
            margin-right: 3px;
        }
    }
    .nodata {
        .weather_finedust__info_img {
            &:before {
                @extend %img70;
                display: inline-block;
                vertical-align: top;
                background: url($S-local-img + '/weather/nugu_face_icon_b_nodata.png') no-repeat 0 0;
                background-size: 70px 70px;
                content:'';
            }
        }
        .weather_finedust__info_data {
            color: $C-font-disable;
        }
    }
    .weather_finedust__list + .weather_finedust__list {
        margin-left: 15px;
    }
}