@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_날씨
/* ---------------------------------------------------------------------- */
.weather_card_wrap {
    text-align: center;

    .weather_s_img {
        width: 100px;
        height: 100px;
    }

    &__date {
        font-size:$F-size-small;
        color: $C-font-basic;
        margin-top: 16px;
    }

    &__weather {
        .weather_s_img {
            border: 0;
        }
        margin-top: 15px;
    }

    &__temp {
        margin-top: 14px;
        font-size:$F-size;
        color: $C-font-dark;
        font-family: $F-family-semi;
    }

    &__nodata {
        display: none;
    }
    
}
.card_wrap__item {
    &.active {
        .weather_card_wrap__date {
            color: $C-font-point;
        }

        .weather_card_wrap__temp {
            color: $C-font-point;
        }
    }
    &.none {
        .weather_card_wrap__weather,.weather_card_wrap__temp {
            display: none;
        }
        .weather_card_wrap__date {
            color: #b2b2b2;
        }
        .weather_card_wrap__nodata {
            margin-top: 65px;
            display: block;
            color: #b2b2b2;
            font-size: $F-size-big;
        }
    }
}
.weather_weekly {
	margin-top: 6px;
}
.weather_daily_wrap {
    width:100%;
    display: flex;
    justify-content: space-around;

    .weather_daily_represent {
        float: left;
        width: 738px;

        .weather_d_img {
            width:250px;
            height: 250px;
        }

        &__img {
            float: left;
            width: 250px;
        }
        &__info {
            float: left;
            width: 450px;
            margin: 23px 0 0 35px;
        }
        &__title {
            font-size: $F-size-xxxbig;
            color: $C-font-point;
            font-family: $F-family-bold;
        }

        &__detail {
            margin-top: 0;
            @include clear();
        }
        &__degree {
            float: left;
            font-size: 8.6rem;
            font-family: $F-family-semi;
            color: $C-black;
            margin-top: 5px;
            .data {
                display: inline-block;
                vertical-align: top;
                margin-top: -2px;
                padding: 0 2px 0 0;
            }
        }
        &__detail_more {
            float: left;
            margin: 15px 0 0 25px;
        }
        &__better {
            font-size: $F-size-xxbig;
            color: $C-font-dark-gray;
            font-family: $F-family-semi;
        }
        &__degree_more {
            margin-top: 0;
            font-size: $F-size-big;
            color: $C-font-dark;
            .degree_low {
                margin-left: 10px;
            }

            .data {
                display: inline-block;
                vertical-align: top;
                
            }
        }
        &__precipitation,
        &__dust {
            display: inline-block;
            vertical-align:top;
            font-size: $F-size;
            color: $C-font-light;
        }
        
        &__special {
            float: left;
            width: 250px;
            text-align: center;
            margin: -4px 15px 0 0;
        }
        &__special-name {
            display: inline-block;
            vertical-align: top;
            width: 190px;
            height: 44px;
            margin: 26px auto 0;
            border: 1px solid #ddd;
            border-radius: 22px;
            background: #fff;
            line-height: 44px;
            color: #333;
            font-size: $F-size;
            font-family: $F-family-semi;
            text-align: center;
        }
        &__special-img {
            text-align: center;
            padding: 14px 0 8px;
        }
        &__special-time {
            font-size: $F-size;
            font-family: $F-family-semi;
            color: #666;
        }
        @include clear();
    }
    .weather_daily_represent__special + .weather_daily_represent__info {
        margin-left: 0;
        margin-top: 19px;
    }
    .weather_daily_represent__dust + .weather_daily_represent__dust {
        margin-left: 26px;
    }
    .weather_daily_timeline {
        float:left;
        margin: 25px 0 0 70px;

        .weather_d_simg {
            width: 100px;
            height: 100px;
        }

        &__list {

            @include clear();
        }
        &__item {
            float:left;
            width: 100px;
            text-align: center;
        }
        .weather_daily_timeline__item + .weather_daily_timeline__item {
            margin-left:45px;
        }
        &__time {
            font-size: $F-size-big;
            color:$C-font-basic;
            padding-bottom:10px;
            
        }
        
        &__degree {
            font-size: $F-size-xxbig;
            color: $C-black;
            font-family: $F-family-bold;
            padding-top:10px;
        }
    }
    @include clear();
}
.weather_weekend_wrap {
    display: flex;
    justify-content: center;
    margin-top: 34px;

    .weather_weekend {
        width: 535px;
        .weather_w_img {
            width: 132px;
            height: 132px;
        }
        .no_data,
        .weather_w_noimg {
            display: none;
        }

        &__info {
            float: left;
            width: 132px;
            text-align: center;
        }
        &__date {
            
            text-align:center;
            font-size: $F-size-small;
        }
        &__weather_img {
            margin-top: 8px;
        }
        &__info_more {
            float: left;
            margin:-5px 0 0 55px;
        }
        &__weather_title {
            font-size: $F-size-xxxxbig;
            color: $C-font-point;
            font-family: $F-family-bold;
        }
        &__temp {
            margin-top: 12px;
            font-size: $F-size-xxxbig;
            .degree_high,
            .degree_low {
                display: inline-block;
                vertical-align: top;
            }
            .degree_low {
                margin-left: 20px;
            }
        }
        &__precipitation {
            margin-top:15px;
            font-size: $F-size;
            color: $C-font-light;
            .data {
                display: inline-block;
                vertical-align: top;
                margin-right: 3px;
            }
        }
        @include clear();

        &.none {
            .weather_weekend__weather_title, 
            .weather_weekend__temp, 
            .weather_weekend__precipitation {
                color: $C-font-disable;
            }
            .no_data,
            .weather_w_noimg {
                display: inline;
            }
            .data,
            .weather_w_img {
                display: none;
            }
            .weather_weekend__weather_img {

                &:before {
                    content:'';
                    display: inline-block;
                    vertical-align: top;
                    width: 132px;
                    height: 132px;
                    background: url('../../assets/images/weather/sky_nodate_m.png') no-repeat 0 0;
                }
                
            }
        }
    }

    .weather_weekend + .weather_weekend {
        margin-left: 57px;
    }
}
.weather_finedust_wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 28px;

    .weather_atmosphere {
        float: left;
        width: 430px;

        .weather_d_img {
            width: 180px;
            height: 180px;
        }

        &__img {
            float: left;
        }
        &__info{
            float: left;
            margin: -7px 0 0 40px;
            width: 208px;
            text-align: center;

            
        }
        &__title {
            font-family: $F-family-semi;
            font-size: $F-size-xxbig;
            color: $C-font-dark;
        }
        &__status {
            margin-top: 18px;
            font-size: 6.0rem;
            color: $C-font-point;
            font-family: $F-family-bold;
            &.good {
                color: #1dc2f1;
            }
            &.normal {
                color: #00c177;
            }
            &.bad {
                color: #f47b29;
            }
            &.worst {
                color: #d24645;
            }
            &.none {
                color: $C-font-dark;
            }
        }
        &__data {
            margin-top: 8px;
        }
        &__data_value {
            display: inline-block;
            vertical-align: top;
            margin: 0 auto;
            font-size: 4.0rem;
            color: $C-font-dark;
            font-family: $F-family-bold;
        }
        @include clear();
    }
    .weather_finedust {
        float: left;
        margin: -4px 0 0 0x;

        .weather_d_img {
            width: 54px;
            height: 54px;
        }

        &__list {
            
            @include clear();
        }
        &__item {
            float: left;
            width: 230px;
            text-align: center;
        }
        &__title {
            font-size: $F-size-big;
            color: $C-font-basic;
        }
        &__info {
            margin: 27px 0 0;
        }
        &__info_img,
        &__info_data {
            display: inline-block;
            vertical-align: top;
            
        }
        &__info_data {
            font-size: 4.8rem;
            font-family: $F-family-semi;
            &.good {
                color: #1dc2f1;
            }
            &.normal {
                color: #00c177;
            }
            &.bad {
                color: #f47b29;
            }
            &.worst {
                color: #d24645;
            }
            &.none {
                color: $C-font-dark;
            }
        }
        &__data_value {
            display: inline-block;
            vertical-align: top;
            margin: 15px auto 0;
            line-height: 42px;
            color: $C-font-dark;
            font-size: $F-size-xxbig;
            font-family: $F-family-bold;
            
            .data {
                display: inline-block;
                vertical-align: top;
                margin-right:3px;

            }
        }
        .weather_finedust__list + .weather_finedust__list {
            margin-left: 15px;
        }
    }

    @include clear();
}