@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_날씨 애니메이션
/* ---------------------------------------------------------------------- */

%weather_box {
    position: relative;
    width: 250px;
    height: 250px;
}

.sky_s01 {
    @extend %weather_box;
    animation: 3s linear infinite sky_s01;

    .bA {
        @include absolute(120px, null, null, 10px);
        width: 38px;
        height: 10px;
        padding-left: 192px;
        div {
            @include opacity(0);
            @include border-radius-multi(10px,10px,10px,10px);
            float: left;
            width: 0;
            height: 10px;
            background: #FFC318;
            animation: 3s ease-in-out infinite sky_s01-Aa;
        }
    }
    .bB {
        @include opacity(0);
        @include absolute(40px, 44px,null, null);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 20px;
        height: 20px;
        border: 5px solid #FFC318;
        animation: 3s ease-in-out infinite sky_s01-Ba;
    }
    .bC {
        @include absolute(50%, null, null, 50%);
        @include border-radius-multi(112px,112px,112px,112px);
        width: 112px;
        height: 112px;
        margin: -56px 0 0 -56px;
        background: #FFC318;
    }
    .mA {
        @include transformRotate(0deg);
    }
    .mB {
        @include transformRotate(45deg);
    }
    .mC {
        @include transformRotate(90deg);
    }
    .mD {
        @include transformRotate(135deg);
    }
    .mE {
        @include transformRotate(180deg);
    }
    .mF {
        @include transformRotate(225deg);
    }
    .mG {
        @include transformRotate(270deg);
    }
    .mA div {
        animation-name: sky_s01-Aa;
    }
    .mB div {
        animation-name: sky_s01-Ab;
    }
    .mC div {
        animation-name: sky_s01-Ac;
    }
    .mD div {
        animation-name: sky_s01-Ad;
    }
    .mE div {
        animation-name: sky_s01-Ae;
    }
    .mF div {
        animation-name: sky_s01-Af;
    }
    .mG div {
        animation-name: sky_s01-Ag;
    }
}
@keyframes sky_s01 {
    from {
        @include transformRotate(-15deg);
    }
    to {
        @include transformRotate(10deg);
    }
}
@keyframes sky_s01-Aa {
    from {
        @include opacity(0);
        width: 0;
    }
    13% {
        @include opacity(1);
        width: 38px;
    }
    80% {
        @include opacity(1);
        width: 38px;
        float: right;
    }
    to {
        @include opacity(0);
        width: 0;
        float: right;
    }
}
@keyframes sky_s01-Ab {
    from {
        @include opacity(0);
        width: 0;
    }
    17% {
        @include opacity(1);
        width: 38px;
    }
    80% {
        @include opacity(1);
        width: 38px;
        float: right;
    }
    to {
        @include opacity(0);
        width: 0;
        float: right;
    }
}
@keyframes sky_s01-Ac {
    from {
        @include opacity(0);
        width: 0;
    }
    21% {
        @include opacity(1);
        width: 38px;
    }
    80% {
        @include opacity(1);
        width: 38px;
        float: right;
    }
    to {
        @include opacity(0);
        width: 0;
        float: right;
    }
}
@keyframes sky_s01-Ad {
    from {
        @include opacity(0);
        width: 0;
    }
    25% {
        @include opacity(1);
        width: 38px;
    }
    80% {
        @include opacity(1);
        width: 38px;
        float: right;
    }
    to {
        @include opacity(0);
        width: 0;
        float: right;
    }
}
@keyframes sky_s01-Ae {
    from {
        @include opacity(0);
        width: 0;
    }
    29% {
        @include opacity(1);
        width: 38px;
    }
    80% {
        @include opacity(1);
        width: 38px;
        float: right;
    }
    to {
        @include opacity(0);
        width: 0;
        float: right;
    }
}
@keyframes sky_s01-Af {
    from {
        @include opacity(0);
        width: 0;
    }
    33% {
        @include opacity(1);
        width: 38px;
    }
    80% {
        @include opacity(1);
        width: 38px;
        float: right;
    }
    to {
        @include opacity(0);
        width: 0;
        float: right;
    }
}
@keyframes sky_s01-Ag {
    from {
        @include opacity(0);
        width: 0;
    }
    37% {
        @include opacity(1);
        width: 38px;
    }
    80% {
        @include opacity(1);
        width: 38px;
        float: right;
    }
    to {
        @include opacity(0);
        width: 0;
        float: right;
    }
}
@keyframes sky_s01-Ba {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    30% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    35% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s01_night {
    @extend %weather_box;
    .bA {
        @include absolute(36px, null, null, 27px);
        width: 192px;
        height: 192px;
        background: url($S-local-img +'/weather_animation/nugu_wa_01.png') no-repeat;
        background-size: 192px auto;
        animation: 3s linear infinite sky_s01_night-A;
    }
    .bB {
        @include opacity(0);
        @include absolute(57px, 67px, null, null);
        width: 20px;
        height: 20px;
        background: url($S-local-img +'/weather_animation/nugu_wa_02.png') no-repeat;
        background-size: 20px auto;
        animation: 3s ease-in-out .3s infinite sky_s01_night-B;
    }
    .bC {
        @include opacity(0);
        @include absolute(30px, 22px, null, null);
        @include transformScale(0.8);
        width: 20px;
        height: 20px;
        background: url($S-local-img + '/weather_animation/nugu_wa_02.png') no-repeat;
        background-size: 20px auto;
        animation: 3s ease-in-out .6s infinite sky_s01_night-C;
    }
    .bD {
        @include opacity(0);
        @include absolute(97px, 24px, null, null);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 16px;
        height: 16px;
        border: 5px solid #FFC318;
        animation: 3s ease-in-out infinite sky_s01_night-D;
    }
}
@keyframes sky_s01_night-A {
    from {
        @include transformRotate(5deg);
    }
    50% {
        @include transformRotate(-4deg);
        @include transformScale(0.95);
    }
    to {
        @include transformRotate(5deg);
    }
}
@keyframes sky_s01_night-B {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    30% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    35% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s01_night-C {
    from {
        @include opacity(0);
        @include transformScale(0.4);
    }
    20% {
        @include opacity(0);
        @include transformScale(0.9);
    }
    30% {
        @include opacity(1);
        @include transformScale(0.8);
    }
    35% {
        @include opacity(1);
        @include transformScale(0.8);
    }
    80% {
        @include opacity(1);
        @include transformScale(0.8);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s01_night-D {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    30% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    35% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s02 {
    @extend %weather_box;
    .bA {
        @include absolute(11px, null, null, 13px);
        width: 206px;
        height: 206px;
        animation: 3s linear infinite sky_s02;
    }
    .bAA {
        @include absolute(103px, null, null, 0);
        width: 33px;
        height: 10px;
        padding-left: 173px;
        div {
            @include opacity(0);
            @include border-radius-multi(10px,10px,10px,10px);
            float: left;
            width: 0;
            height: 10px;
            background: #FFC318;
            animation: 3s ease-in-out infinite sky_s02-Aa;
        }
    }
    .bAB {
        @include opacity(0);
        @include absolute(33px, 32px, null, null);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 15px;
        height: 15px;
        border: 5px solid #FFC318;
        animation: 3s ease-in-out infinite sky_s02-B;
    }
    .bC {
        @include absolute(64px, null, null, 65px);
        @include border-radius-multi(112px,112px,112px,112px);
        width: 100px;
        height: 100px;
        background: #FFC318;
    }
    .bD {
        @include absolute(null, 12px, 16px, null);
        width: 205px;
        height: 142px;
        background: url($S-local-img + '/weather_animation/nugu_wa_03.png') no-repeat;
        background-size: 205px auto;
    }
    .mA {
        @include transformRotate(180deg);
    }
    .mB {
        @include transformRotate(225deg);
    }
    .mC {
        @include transformRotate(270deg);
    }
    .mA div {
        animation-name: sky_s02-Aa;
    }
    .mB div {
        animation-name: sky_s02-Ab;
    }
    .mC div {
        animation-name: sky_s02-Ac;
    }
}
@keyframes sky_s02 {
    from {
        @include transformRotate(-15deg);
    }
    to {
        @include transformRotate(10deg);
    }
}
@keyframes sky_s02-Aa {
    from {
        @include opacity(0);
        width: 0;
    }
    13% {
        @include opacity(1);
        width: 33px;
    }
    80% {
        @include opacity(1);
        width: 33px;
        float: right;
    }
    to {
        @include opacity(0);
        width: 0;
        float: right;
    }
}
@keyframes sky_s02-Ab {
    from {
        @include opacity(0);
        width: 0;
    }
    17% {
        @include opacity(1);
        width: 33px;
    }
    80% {
        @include opacity(1);
        width: 33px;
        float: right;
    }
    to {
        @include opacity(0);
        width: 0;
        float: right;
    }
}
@keyframes sky_s02-Ac {
    from {
        @include opacity(0);
        width: 0;
    }
    21% {
        @include opacity(1);
        width: 33px;
    }
    80% {
        @include opacity(1);
        width: 33px;
        float: right;
    }
    to {
        @include opacity(0);
        width: 0;
        float: right;
    }
}
@keyframes sky_s02-B {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    10% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    25% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s02_night {
    @extend %weather_box;
    .bA {
        @include absolute(35px, null, null, 11px);
        width: 126px;
        height: 126px;
        background: url($S-local-img + '/weather_animation/nugu_wa_04.png') no-repeat;
        background-size: 126px auto;
        animation: 3s linear infinite sky_s02_night-A;
    }
    .bB {
        @include opacity(0);
        @include absolute(44px, 81px, null, null);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 15px;
        height: 15px;
        border: 5px solid #FFC318;
        animation: 3s ease-in-out infinite sky_s02_night-B;
    }
    .bC {
        @include absolute(null, 24px, 16px, null);
        width: 205px;
        height: 142px;
        background: url($S-local-img + '/weather_animation/nugu_wa_03.png') no-repeat;
        background-size: 205px auto;
    }
}
@keyframes sky_s02_night-A {
    from {
        @include transformRotate(-5deg);
    }
    50% {
        @include transformRotate(4deg);
        @include transformScale(0.95);
    }
    to {
        @include transformRotate(-5deg);
    }
}
@keyframes sky_s02_night-B {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    10% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    25% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s03 {
    @extend %weather_box;
    background: url($S-local-img + '/weather_animation/sample/sky_s013.png') no-repeat;
    .bA {
        @include opacity(0);
        @include absolute(40px, null, null, 15px);
        width: 142px;
        height: 98px;
        background: url($S-local-img + '/weather_animation/nugu_wa_05.png') no-repeat;
        background-size: 142px auto;
        animation: 4s ease-in-out infinite sky_s03-A;
    }
    .bB {
        @include opacity(0);
        @include absolute(49px, 31px, null, null);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 15px;
        height: 15px;
        border: 5px solid #C5D3D5;
        animation: 4s ease-in-out infinite sky_s03-B;
    }
    .bC {
        @include absolute(null, 12px, 31px, null);
        width: 205px;
        height: 142px;
        background: url($S-local-img + '/weather_animation/nugu_wa_03.png') no-repeat;
        background-size: 205px auto;
    }
}
@keyframes sky_s03-A {
    from {
        @include opacity(0);
        margin-left: -25px;
    }
    40% {
        @include opacity(1);
        margin: 0;
    }
    70% {
        @include opacity(1);
        margin: 0;
    }
    to {
        @include opacity(0);
        margin-left: 40px;
    }
}
@keyframes sky_s03-B {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    10% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    25% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s04 {
    @extend %weather_box;
    .bA {
        @include absolute(21px, null, null, 15px);
        width: 142px;
        height: 98px;
        background: url($S-local-img + '/weather_animation/nugu_wa_05.png') no-repeat;
        background-size: 142px auto;
    }
    .bB {
        @include absolute(46px, 12px, null, null);
        width: 206px;
        height: 142px;
        background: url($S-local-img + '/weather_animation/nugu_wa_06.png') no-repeat;
        background-size: 206px auto;
    }
    .bC {
        @include absolute(null, null, 0, 72px);
        @include transformRotate(-65deg);
        width: 119px;
        height: 92px;
    }
    .bCA {
        @include absolute(0, null, null, 0);
        width: 78px;
        height: 10px;
        div {
            @include opacity(0);
            @include border-radius-multi(100px,100px,100px,100px);
            float: right;
            width: 78px;
            height: 10px;
            background: #00BCD4;
            animation: 3s ease-in-out infinite sky_s04-Ca;
        }
    }
    .bCB {
        @include absolute(77px, 5px, null, null);
        width: 48px;
        height: 10px;
        div {
            @include border-radius-multi(100px,100px,100px,100px);
            float: right;
            width: 48px;
            height: 10px;
            background: #00BCD4;
            animation: 3s ease-in-out infinite sky_s04-Cc;
        }
    }
    .bCC {
        @include opacity(0);
        @include absolute(72px, 61px, null, null);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 10px;
        height: 10px;
        border: 5px solid #00BCD4;
        animation: 3s ease-in-out infinite sky_s04-Cd;
    }
    .mB {
        @include absolute(37px, null, null, 40px);
    }
    .mA div {
        animation-name: sky_s04-Ca;
    }
    .mB div {
        animation-name: sky_s04-Cb;
    }
    .mC div {
        animation-name: sky_s04-Cc;
    }
}
@keyframes sky_s04-Ca {
    from {
        @include opacity(0);
        width: 0;
    }
    10% {
        @include opacity(1);
        width: 78px;
    }
    80% {
        @include opacity(1);
        width: 78px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s04-Cb {
    from {
        @include opacity(0);
        width: 0;
    }
    25% {
        @include opacity(1);
        width: 78px;
    }
    80% {
        @include opacity(1);
        width: 78px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s04-Cc {
    from {
        @include opacity(0);
        width: 0;
    }
    15% {
        @include opacity(1);
        width: 48px;
    }
    80% {
        @include opacity(1);
        width: 48px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s04-Cd {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    30% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    35% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s05 {
    @extend %weather_box;
    .bA {
        @include absolute(21px, null, null, 15px);
        width: 142px;
        height: 98px;
        background: url($S-local-img + '/weather_animation/nugu_wa_05.png') no-repeat;
        background-size: 142px auto;
    }
    .bB {
        @include absolute(46px, 12px, null, null);
        width: 206px;
        height: 142px;
        background: url($S-local-img + '/weather_animation/nugu_wa_06.png') no-repeat;
        background-size: 206px auto;
    }
    .bCA {
        @include opacity(0);
        @include absolute(0, null, null, 0);
        width: 19px;
        height: 19px;
        animation: 3s ease-in-out infinite sky_s05-Ca;
        div {
            @include border-radius-multi(50px,50px,50px,50px);
            width: 19px;
            height: 19px;
            background: #00BCD4;
            animation: 2s ease-in-out infinite sky_s05-CAi;
        }
    }
    .bCB {
        @include opacity(0);
        @include absolute(215px, null, null, 165px);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 15px;
        height: 15px;
        border: 5px solid #00BCD4;
        animation: 3s ease-in-out infinite sky_s05-Ce;
    }
    .mA {
        @include absolute(163px, null, null, 103px);
        animation-name: sky_s05-Ca;
    }
    .mB {
        @include absolute(176px, null, null, 152px);
        animation-name: sky_s05-Cb;
    }
    .mC {
        @include absolute(202px, null, null, 123px);
        animation-name: sky_s05-Cc;
    }
    .mD {
        @include absolute(217px, null, null, 79px);
        animation-name: sky_s05-Cd;
    }
    .mA div {
        animation-delay: .2s;
    }
    .mB div {
        animation-delay: 0;
    }
    .mC div {
        animation-delay: .2s;
    }
    .mD div {
        animation-delay: .3s;
    }
}
@keyframes sky_s05-CAi {
    from {
        margin-left: -5px;
    }
    50% {
        margin-left: 5px;
    }
    to {
        margin-left: -5px;
    }
}
@keyframes sky_s05-Ca {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    30% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s05-Cb {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    50% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s05-Cc {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    70% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s05-Cd {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    50% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s05-Ce {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    30% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    35% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s06 {
    @extend %weather_box;
    .bA {
        @include absolute(21px, null, null, 15px);
        width: 142px;
        height: 98px;
        background: url($S-local-img + '/weather_animation/nugu_wa_05.png') no-repeat;
        background-size: 142px auto;
    }
    .bB {
        @include absolute(46px, 12px, null, null);
        width: 206px;
        height: 142px;
        background: url($S-local-img + '/weather_animation/nugu_wa_06.png') no-repeat;
        background-size: 206px auto;
    }
    .bC {
        @include absolute(null, null, 0, 72px);
        @include transformRotate(-65deg);
        width: 119px;
        height: 92px;
    }
    .bCA {
        @include absolute(0, null, null, 0);
        width: 78px;
        height: 10px;
        div {
            @include opacity(0);
            @include border-radius-multi(100px,100px,100px,100px);
            float: right;
            width: 78px;
            height: 10px;
            background: #00BCD4;
            animation: 3s ease-in-out infinite sky_s06-Ca;
        }
    }
    .bDA {
        @include opacity(0);
        @include absolute(0, null, null, 0);
        width: 19px;
        height: 19px;
        animation: 3s ease-in-out infinite sky_s06-Da;
        div {
            @include border-radius-multi(50px,50px,50px,50px);
            width: 19px;
            height: 19px;
            background: #00BCD4;
            animation: 2s ease-in-out infinite sky_s06-DAi;
        }
    }
    .bDB {
        @include opacity(0);
        @include absolute(215px, null, null, 143px);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 15px;
        height: 15px;
        border: 5px solid #00BCD4;
        animation: 3s ease-in-out infinite sky_s06-Dc;
    }
    .mB {
        @include absolute(32px, null, null, 40px);
    }
    .mA div {
        animation-name: sky_s06-Ca;
    }
    .mB div {
        animation-name: sky_s06-Cb;
    }
    .mC {
        @include absolute(170px, null, null, 162px);
        animation-name: sky_s06-Da;
    }
    .mD {
        @include absolute(200px, null, null, 182px);
        animation-name: sky_s06-Db;
    }
    .mC div {
        animation-delay: .2s;
    }
    .mD div {
        animation-delay: 0;
    }
}
@keyframes sky_s06-Ca {
    from {
        @include opacity(0);
        width: 0;
    }
    10% {
        @include opacity(1);
        width: 78px;
    }
    80% {
        @include opacity(1);
        width: 78px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s06-Cb {
    from {
        @include opacity(0);
        width: 0;
    }
    25% {
        @include opacity(1);
        width: 78px;
    }
    80% {
        @include opacity(1);
        width: 78px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s06-DAi {
    from {
        margin-left: -5px;
    }
    50% {
        margin-left: 5px;
    }
    to {
        margin-left: -5px;
    }
}
@keyframes sky_s06-Da {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    30% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s06-Db {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    50% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s06-Dc {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    30% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    35% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s07 {
    @extend %weather_box;
    background: url($S-local-img + '/weather_animation/sample/sky_s013.png') no-repeat;
    .bA {
        @include opacity(0);
        @include absolute(40px, 0, 0, 15px);
        width: 142px;
        height: 98px;
        background: url($S-local-img + '/weather_animation/nugu_wa_05.png') no-repeat;
        background-size: 142px auto;
        animation: 4s ease-in-out infinite sky_s07-A;
    }
    .bB {
        @include opacity(0);
        @include absolute(49px, 31px, null, null);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 15px;
        height: 15px;
        border: 5px solid #C5D3D5;
        animation: 4s ease-in-out infinite sky_s07-B;
    }
    .bC {
        @include absolute(null, 12px, 31px, null);
        width: 205px;
        height: 142px;
        background: url($S-local-img + '/weather_animation/nugu_wa_03.png') no-repeat;
        background-size: 205px auto;
    }
}
@keyframes sky_s07-A {
    from {
        @include opacity(0);
        margin-left: -25px;
    }
    40% {
        @include opacity(1);
        margin: 0;
    }
    70% {
        @include opacity(1);
        margin: 0;
    }
    to {
        @include opacity(0);
        margin-left: 40px;
    }
}
@keyframes sky_s07-B {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    10% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    25% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s08 {
    @extend %weather_box;
    .bB {
        @include absolute(19px, 12px, null, null);
        width: 226px;
        height: 162px;
        background: url($S-local-img + '/weather_animation/nugu_wa_07.png') no-repeat;
        background-size: 226px auto;
    }
    .bC {
        @include absolute(null, null, 7px, 61px);
        @include transformRotate(-65deg);
        width: 119px;
        height: 92px;
    }
    .bCA {
        @include absolute(0, null, null, 0);
        width: 78px;
        height: 10px;
        div {
            @include opacity(0);
            @include border-radius-multi(100px,100px,100px,100px);
            float: right;
            width: 78px;
            height: 10px;
            background: #00BCD4;
            animation: 3s ease-in-out infinite sky_s08-Ca;
        }
    }
    .bCB {
        @include absolute(77px, 5px, null, null);
        width: 48px;
        height: 10px;
        div {
            @include border-radius-multi(100px,100px,100px,100px);
            float: right;
            width: 48px;
            height: 10px;
            background: #00BCD4;
            animation: 3s ease-in-out infinite sky_s08-Cc;
        }
    }
    .bCC {
        @include opacity(0);
        @include absolute(72px, 61px, null, null);
        @include border-radius-multi(50px, 50px, 50px, 50px);
        width: 10px;
        height: 10px;
        border: 5px solid #00BCD4;
        animation: 3s ease-in-out infinite sky_s08-Cd;
    }
    .mB {
        @include absolute(37px, null, null, 40px);
    }
    .mA div {
        animation-name: sky_s08-Ca;
    }
    .mB div {
        animation-name: sky_s08-Cb;
    }
    .mC div {
        animation-name: sky_s08-Cc;
    }
}
@keyframes sky_s08-Ca {
    from {
        @include opacity(0);
        width: 0;
    }
    10% {
        @include opacity(1);
        width: 78px;
    }
    80% {
        @include opacity(1);
        width: 78px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s08-Cb {
    from {
        @include opacity(0);
        width: 0;
    }
    25% {
        @include opacity(1);
        width: 78px;
    }
    80% {
        @include opacity(1);
        width: 78px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s08-Cc {
    from {
        @include opacity(0);
        width: 0;
    }
    15% {
        @include opacity(1);
        width: 48px;
    }
    80% {
        @include opacity(1);
        width: 48px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s08-Cd {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    30% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    35% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s09 {
    @extend %weather_box;
    .bB {
        @include absolute(19px, 12px, null, null);
        width: 226px;
        height: 162px;
        background: url($S-local-img + '/weather_animation/nugu_wa_07.png') no-repeat;
        background-size: 226px auto;
    }
    .bCA {
        @include opacity(0);
        @include absolute(0, null, null, 0);
        width: 19px;
        height: 19px;
        animation: 3s ease-in-out infinite sky_s09-Ca;
        div {
            @include border-radius-multi(50px, 50px, 50px, 50px);
            width: 19px;
            height: 19px;
            background: #00BCD4;
            animation: 2s ease-in-out infinite sky_s09-CAi;
        }
    }
    .bCB {
        @include opacity(0);
        @include absolute(207px, null, null, 157px);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 15px;
        height: 15px;
        border: 5px solid #00BCD4;
        animation: 3s ease-in-out infinite sky_s09-Ce;
    }
    .mA {
        @include absolute(155px, null, null, 95px);
        animation-name: sky_s09-Ca;
    }
    .mB {
        @include absolute(168px, null, null, 144px);
        animation-name: sky_s09-Cb;
    }
    .mC {
        @include absolute(194px, null, null, 115px);
        animation-name: sky_s09-Cc;
    }
    .mD {
        @include absolute(209px, null, null, 71px);
        animation-name: sky_s09-Cd;
    }
    .mA div {
        animation-delay: .2s;
    }
    .mB div {
        animation-delay: 0;
    }
    .mC div {
        animation-delay: .2s;
    }
    .mD div {
        animation-delay: .3s;
    }
}
@keyframes sky_s09-CAi {
    from {
        margin-left: -5px;
    }
    50% {
        margin-left: 5px;
    }
    to {
        margin-left: -5px;
    }
}
@keyframes sky_s09-Ca {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    30% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s09-Cb {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    50% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s09-Cc {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    70% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s09-Cd {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    50% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s09-Ce {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    30% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    35% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s10 {
    @extend %weather_box;
    .bB {
        @include absolute(19px, 12px, null, null);
        width: 226px;
        height: 162px;
        background: url($S-local-img + '/weather_animation/nugu_wa_07.png') no-repeat;
        background-size: 226px auto;
    }
    .bC {
        @include absolute(null, null, 7px, 62px);
        @include transformRotate(-65deg);
        width: 119px;
        height: 92px;

    }
    .bCA {
        @include absolute(0,null,null,0);
        width: 78px;
        height: 10px;
        div {
            @include opacity(0);
            @include border-radius-multi(100px,100px,100px,100px);
            float: right;
            width: 78px;
            height: 10px;
            background: #00BCD4;
            animation: 3s ease-in-out infinite sky_s10-Ca;
        }
    }
    .bDA {
        @include opacity(0);
        @include absolute(0, null, null, 0);
        width: 19px;
        height: 19px;
        animation: 3s ease-in-out infinite sky_s10-Da;
        div {
            @include border-radius-multi(50px, 50px, 50px, 50px);
            width: 19px;
            height: 19px;
            background: #00BCD4;
            animation: 2s ease-in-out infinite sky_s10-DAi;
        }
    }
    .bDB {
        @include opacity(0);
        @include absolute(207px, null, null, 132px);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 15px;
        height: 15px;
        border: 5px solid #00BCD4;
        animation: 3s ease-in-out infinite sky_s10-Dc;
    }
    .mB {
        @include absolute(32px, null, null, 40px);
    }
    .mA div {
        animation-name: sky_s10-Ca;
    }
    .mB div {
        animation-name: sky_s10-Cb;
    }
    .mC {
        @include absolute(167px, null, null, 154px);
        animation-name: sky_s10-Da;
    }
    .mD {
        @include absolute(197px, null, null, 174px);
        animation-name: sky_s10-Db;
    }
    .mC div {
        animation-delay: .2s;
    }
    .mD div {
        animation-delay: 0;
    }
}
@keyframes sky_s10-Ca {
    from {
        @include opacity(0);
        width: 0;
    }
    10% {
        @include opacity(1);
        width: 78px;
    }
    80% {
        @include opacity(1);
        width: 78px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s10-Cb {
    from {
        @include opacity(0);
        width: 0;
    }
    25% {
        @include opacity(1);
        width: 78px;
    }
    80% {
        @include opacity(1);
        width: 78px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s10-DAi {
    from {
        margin-left: -5px;
    }
    50% {
        margin-left: 5px;
    }
    to {
        margin-left: -5px;
    }
}
@keyframes sky_s10-Da {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    30% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s10-Db {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    50% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s10-Dc {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    30% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    35% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s11 {
    @extend %weather_box;
    .bA {
        @include absolute(19px, 12px, null, null);
        width: 226px;
        height: 162px;
        background: url($S-local-img + '/weather_animation/nugu_wa_07.png') no-repeat;
        background-size: 226px auto;
    }
    .bBA {
        @include opacity(0);
        @include absolute(133px, null, null, 83px);
        width: 45px;
        height: 85px;
        background: url($S-local-img + '/weather_animation/nugu_wa_08.png') no-repeat;
        background-size: 45px auto;
        animation: 3s ease-in-out infinite sky_s11-Ba;
    }
    .bBB {
        @include opacity(0);
        @include absolute(200px, null, null, 159px);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 10px;
        height: 10px;
        border: 5px solid #FFC318;
        animation: 3s ease-in-out infinite sky_s11-Bc;
    }
    .mA {
        @include absolute(133px, null, null, 83px);
        animation-name: sky_s11-Ba;
    }
    .mB {
        @include absolute(119px, null, null, 134px);
        animation-name: sky_s11-Bb;
    }
}
@keyframes sky_s11-Ba {
    from {
        @include opacity(0);
    }
    5% {
        @include opacity(0);
        margin: -3px 0 0 3px;
    }
    10% {
        @include opacity(.5);
        margin: 0;
    }
    15% {
        @include opacity(0);
        margin: 0;
    }
    20% {
        @include opacity(1);
        margin: 0;
    }
    25% {
        @include opacity(0);
        margin: 0;
    }
    40% {
        @include opacity(0);
        margin: -3px 0 0 3px;
    }
    45% {
        @include opacity(1);
        margin: 0;
    }
    70% {
        @include opacity(1);
        margin: 0;
    }
    85% {
        @include opacity(0);
        margin: 0;
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s11-Bb {
    from {
        @include opacity(0);
    }
    7% {
        @include opacity(0);
        margin: -3px 0 0 3px;
    }
    17% {
        @include opacity(1);
        margin: 0;
    }
    22% {
        @include opacity(1);
        margin: 0;
    }
    27% {
        @include opacity(0);
        margin: 0;
    }
    45% {
        @include opacity(0);
        margin: -3px 0 0 3px;
    }
    50% {
        @include opacity(1);
        margin: 0;
    }
    70% {
        @include opacity(1);
        margin: 0;
    }
    85% {
        @include opacity(0);
        margin: 0;
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s11-Bc {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    40% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    50% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    55% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s12 {
    @extend %weather_box;
    .bB {
        @include absolute(19px, 12px, null, null);
        width: 226px;
        height: 162px;
        background: url($S-local-img + '/weather_animation/nugu_wa_07.png') no-repeat;
        background-size: 226px auto;
    }
    .bC {
        @include absolute(null, null, 7px, 61px);
        @include transformRotate(-65deg);
        width: 119px;
        height: 92px;
    }
    .bCA {
        @include absolute(0, null, null, 0);
        width: 78px;
        height: 10px;
        div {
            @include opacity(0);
            @include border-radius-multi(100px,100px,100px,100px);
            float: right;
            width: 78px;
            height: 10px;
            background: #00BCD4;
            animation: 3s ease-in-out infinite sky_s12-Ca;
        }
    }
    .bCB {
        @include absolute(77px, 5px, null, null);
        width: 48px;
        height: 10px;
        div {
            @include border-radius-multi(100px,100px,100px,100px);
            float: right;
            width: 48px;
            height: 10px;
            background: #00BCD4;
            animation: 3s ease-in-out infinite sky_s12-Cc;
        }
    }
    .bCC {
        @include opacity(0);
        @include absolute(72px, 61px, null, null);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 10px;
        height: 10px;
        border: 5px solid #00BCD4;
        animation: 3s ease-in-out infinite sky_s12-Cd;
    }
    .bDA {
        @include opacity(0);
        @include absolute(133px, null, null, 83px);
        width: 45px;
        height: 85px;
        background: url($S-local-img + '/weather_animation/nugu_wa_08.png') no-repeat;
        background-size: 45px auto;
        animation: 3s ease-in-out infinite sky_s12-Ba;
    }
    .mE {
        @include absolute(123px, null, null, 105px);
        animation-name: sky_s12-De;
    }
    .mB {
        @include absolute(37px, null, null, 40px);
    }
    .mA div {
        animation-name: sky_s12-Ca;
    }
    .mC div {
        animation-name: sky_s12-Cc;
    }
}
@keyframes sky_s12-Ca {
    from {
        @include opacity(0);
        width: 0;
    }
    10% {
        @include opacity(1);
        width: 78px;
    }
    80% {
        @include opacity(1);
        width: 78px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s12-Cc {
    from {
        @include opacity(0);
        width: 0;
    }
    15% {
        @include opacity(1);
        width: 48px;
    }
    80% {
        @include opacity(1);
        width: 48px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}
@keyframes sky_s12-Cd {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    10% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    25% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s12-De {
    from {
        @include opacity(0);
    }
    7% {
        @include opacity(0);
        margin: -3px 0 0 3px;
    }
    17% {
        @include opacity(1);
        margin: 0;
    }
    22% {
        @include opacity(1);
        margin: 0;
    }
    27% {
        @include opacity(0);
        margin: 0;
    }
    45% {
        @include opacity(0);
        margin: -3px 0 0 3px;
    }
    50% {
        @include opacity(1);
        margin: 0;
    }
    70% {
        @include opacity(1);
        margin: 0;
    }
    85% {
        @include opacity(0);
        margin: 0;
    }
    to {
        @include opacity(0);
    }
}

.sky_s13 {
    @extend %weather_box;
    .bB {
        @include absolute(19px, 12px, null, null);
        width: 226px;
        height: 162px;
        background: url($S-local-img + '/weather_animation/nugu_wa_07.png') no-repeat;
        background-size: 226px auto;
    }
    .bCA {
        @include opacity(0);
        @include absolute(133, null, null, 83px);
        width: 45px;
        height: 85px;
        background: url($S-local-img + '/weather_animation/nugu_wa_08.png') no-repeat;
        background-size: 45px auto;
        animation: 3s ease-in-out infinite sky_s13-Ca;
    }
    .bDA {
        @include opacity(0);
        @include absolute(0, null, null, 0);
        width: 19px;
        height: 19px;
        animation: 3s ease-in-out infinite sky_s13-Da;
        div {
            @include border-radius-multi(50px, 50px, 50px, 50px);
            width: 19px;
            height: 19px;
            background: #00BCD4;
            animation: 2s ease-in-out infinite sky_s13-DAi;
        }
    }
    .bDB {
        @include opacity(0);
        @include absolute(207px, null, null, 124px);
        @include border-radius-multi(50px,50px,50px,50px);
        width: 15px;
        height: 15px;
        border: 5px solid #00BCD4;
        animation: 3s ease-in-out infinite sky_s13-Dc;
    }
    .mA {
        @include absolute(130px, null, null, 78px);
        animation-name: sky_s13-Ca;
    }
    .mC {
        @include absolute(167px, null, null, 146px);
        animation-name: sky_s13-Da;
    }
    .mD {
        @include absolute(197px, null, null, 166px);
        animation-name: sky_s13-Db;
    }
    .mC div {
        animation-delay: .2s;
    }
    .mD div {
        animation-delay: 0;
    }
}
@keyframes sky_s13-Ca {
    from {
        @include opacity(0);
    }
    7% {
        @include opacity(0);
        margin: -3px 0 0 3px;
    }
    17% {
        @include opacity(1);
        margin: 0;
    }
    22% {
        @include opacity(1);
        margin: 0;
    }
    27% {
        @include opacity(0);
        margin: 0;
    }
    45% {
        @include opacity(0);
        margin: -3px 0 0 3px;
    }
    50% {
        @include opacity(1);
        margin: 0;
    }
    70% {
        @include opacity(1);
        margin: 0;
    }
    85% {
        @include opacity(0);
        margin: 0;
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s13-DAi {
    from {
        margin-left: -5px;
    }
    50% {
        margin-left: 5px;
    }
    to {
        margin-left: -5px;
    }
}
@keyframes sky_s13-Da {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    30% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s13-Db {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    50% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s13-Dc {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    10% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    25% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}

.sky_s14 {
    @extend %weather_box;
    .bB {
        @include absolute(19px, 12px, null, null);
        width: 226px;
        height: 162px;
        background: url($S-local-img + '/weather_animation/nugu_wa_07.png') no-repeat;
        background-size: 226px auto;
    }
    .bCA {
        @include opacity(0);
        @include absolute(133px, null, null, 83px);
        width: 45px;
        height: 85px;
        background: url($S-local-img + '/weather_animation/nugu_wa_08.png') no-repeat;
        background-size: 45px auto;
        animation: 3s ease-in-out infinite sky_s14-Ca;
    }
    .bDA {
        @include opacity(0);
        @include absolute(0, null, null, 0);
        width: 19px;
        height: 19px;
        animation: 3s ease-in-out infinite sky_s14-Da;
        div {
            @include border-radius-multi(50px,50px,50px,50px);
            width: 19px;
            height: 19px;
            background: #00BCD4;
            animation: 2s ease-in-out infinite sky_s14-DAi;
        }
    }
    .bDB {
        @include opacity(0);
        @include absolute(207px, null, null, 135px);
        @include border-radius-multi(50px, 50px, 50px, 50px);
        width: 15px;
        height: 15px;
        border: 5px solid #00BCD4;
        animation: 3s ease-in-out infinite sky_s14-Dc;
    }
    .bE {
        @include absolute(null, null, 7px, 61px);
        @include transformRotate(-65deg);
        width: 119px;
        height: 92px;
    }
    .bEA {
        @include absolute(0, null, null, 0);
        width: 78px;
        height: 10px;
        div {
            @include opacity(0);
            @include border-radius-multi(100px,100px,100px,100px);
            float: right;
            width: 78px;
            height: 10px;
            background: #00BCD4;
            animation: 3s ease-in-out infinite sky_s14-Ef;
        }
    }
    .mA {
        @include absolute(123px, null, null, 105px);
        animation-name: sky_s14-Ca;
    }
    .mC {
        @include absolute(169px, null, null, 156px);
        animation-name: sky_s14-Da;
    }
    .mD {
        @include absolute(199px, null, null, 174px);
        animation-name: sky_s14-Db;
    }
    .mC div {
        animation-delay: .2s;
    }
    .mD div {
        animation-delay: 0;
    }
    .mF div {
        animation-name: sky_s14-Ef;
    }
}
@keyframes sky_s14-Ca {
    from {
        @include opacity(0);
    }
    7% {
        @include opacity(0);
        margin: -3px 0 0 3px;
    }
    17% {
        @include opacity(1);
        margin: 0;
    }
    22% {
        @include opacity(1);
        margin: 0;
    }
    27% {
        @include opacity(0);
        margin: 0;
    }
    45% {
        @include opacity(0);
        margin: -3px 0 0 3px;
    }
    50% {
        @include opacity(1);
        margin: 0;
    }
    70% {
        @include opacity(1);
        margin: 0;
    }
    85% {
        @include opacity(0);
        margin: 0;
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s14-DAi {
    from {
        margin-left: -5px;
    }
    50% {
        margin-left: 5px;
    }
    to {
        margin-left: -5px;
    }
}
@keyframes sky_s14-Da {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    30% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s14-Db {
    from {
        @include opacity(0);
        margin-top: -10px;
    }
    50% {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s14-Dc {
    from {
        @include opacity(0);
        @include transformScale(0.7);
    }
    10% {
        @include opacity(0);
        @include transformScale(0.7);
    }
    20% {
        @include opacity(1);
        @include transformScale(1.2);
    }
    25% {
        @include opacity(1);
        @include transformScale(1);
    }
    80% {
        @include opacity(1);
        @include transformScale(1);
    }
    to {
        @include opacity(0);
    }
}
@keyframes sky_s14-Ef {
    from {
        @include opacity(0);
        width: 0;
    }
    10% {
        @include opacity(1);
        width: 78px;
    }
    80% {
        @include opacity(1);
        width: 78px;
        float: left;
    }
    to {
        @include opacity(0);
        width: 0;
        float: left;
    }
}