@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_위키피디아
/* ---------------------------------------------------------------------- */



.wikipedia_block {
      margin: 0 40px;
      text-align: left;
      vertical-align: top;
      color: $C-font-dark;
      font-size: $F-size;
      line-height: 1.5;
}

