@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Btv_위키피디아
/* ---------------------------------------------------------------------- */
.wikipedia_wrap {

      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;
      margin-top: -3px;
   

      .wikipedia_block {
            max-width: 1300px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                  content:'';
                  width: 230px;
                  height: 230px;
                  border-radius: 50%;
                  overflow: hidden;
                  background: url('../../assets/images/wikipedia/nugu_wiki_image.png') no-repeat 0 0;
            }

            .data {
                  max-width: 1000px;
                  margin-left: 40px;
                  text-align: left;
                  vertical-align: top;
                  @include multiline-ellipsis(5,$F-size,155%,block);

                  strong {
                        color:$C-font-point;
                  }   
            }


      }


}
