@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  button UI
/* ---------------------------------------------------------------------- */
.btn {
    @include border-radius-multi(35px,35px,35px,35px);
    position: relative;
    outline: 0;
    padding: 15px 12px;
    white-space: nowrap;
    font-size: $F-size-under;
    text-align: center;
    background: $C-white;

    &__default {
        border: 2px solid $C-border-gray_cc;
        color: $C-font-gray_99;
        font-size: $F-size;
    }
    &__primary {
        border: 2px solid $C-primary;
        color: $C-font-point;
    }
    &__block {
        display: block;
        width: 100%;
    }
}
.btn_wrap {
    @include clear();
}
.btn_b-fix {
    @include absolute(null, 0, 0, 0);
}