@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  card UI
/* ---------------------------------------------------------------------- */
.card_wrap {
    @include flex();
    @include flex-justify(center);

}
.card_wrap__item {
    width: 196px;
    height: 232px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background:#fff;
    box-shadow: 0 0 1px 0 #f2f2f2;
    margin: 0 5px;
}
.card_wrap2 {
    @include flex();
    @include flex-justify(center);
}
.card_wrap2__item {
    width: 269px;
    height: 250px;
    text-align: center;
    margin: 0 15px;
}
