@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Pagenate UI
/* ---------------------------------------------------------------------- */

.pagenate {
    position: absolute;
    // width: 100%;
    width: 1920px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0 auto;
    
    &__prev {
        position: absolute;
        left:50px;
        top: 50%;
        margin-top: -83px;
        width: 140px;
        text-align: center;
        &.disabled {
            @include opacity(.3);
        }
    }
    &__btn-prev {
        @include use-sprite(btn__prev);
        margin-top: 13px;
    }
    &__next {
        position: absolute;
        right:50px;
        top: 50%;
        margin-top: -83px;
        width: 140px;
        
        text-align: center;
        &.disabled {
            @include opacity(.3);
        }
    }
    &__btn-next {
        @include use-sprite(btn__next);
        margin-top: 13px;
    }

    &__paging {
        font-family: $F-family-bold;
        font-size: 1.9rem;
        color: $C-font-light;
        text-align: center;
        margin-top: 3px;
        .current {
            color: $C-font-dark;
        }
    }
    &__remote_wrap{
        display:block;
        margin-top: 3px;
    }
    &__remote_prev {
        border: 1px solid #d9d9d9;
        border-radius: 14px;
        background: #fcfcfc;
        height: 28px;
        width: 73px;
        display: inline-block;
        vertical-align: top;
        text-align: center;

        &:before {
            content:'';
            @include use-sprite(btn__prev2);
            vertical-align: top;
            margin-top: 6px;
        }
    }
    &__remote_next {
        border: 1px solid #d9d9d9;
        border-radius: 14px;
        background: #fcfcfc;
        height: 28px;
        width: 73px;
        display: inline-block;
        vertical-align: top;
        text-align: center;

        &:before {
            content:'';
            @include use-sprite(btn__next2);
            vertical-align: top;
            margin-top: 6px;
        }
    }
    &__voice_wrap {
        display: block;
        margin-top: 15px;
    }
    &__voice_ordertxt {
        display: inline-block;
        vertical-align: top;
        border: 1px solid #d9d9d9;
        border-radius: 16px;
        height: 32px;
        padding: 0 10px;
        font-size: 1.9rem;
        color: $C-font-light;
        font-family: $F-family-bold;
        line-height: 32px;
        background: #fcfcfc;

        &:before {
            content:'';
            @include use-sprite(nugu_advice_icon_mic);
            vertical-align: top;
            margin: 7px 3px 0 0;
        }

    }
    
}
.fortune {
    .pagenate__voice_wrap,
    .pagenate__remote_wrap,
    .pagenate__paging {
        display: none !important;
    }
    .pagenate__btn-next,
    .pagenate__btn-prev {
        background-image: none;
        width:15px;
        height:15px;
        border-radius: 50%;
        background-color: #ff4909; 
    }
    .pagenate__prev {
        left: auto;
        right:50px;
        top: 230px;
        &.disabled {
            .pagenate__btn-prev {
                background-color: #d8d8d8;
            }
        }
    }
    .pagenate__next {
        top: 260px;
        &.disabled {
            .pagenate__btn-next {
                background-color: #d8d8d8;
            }
        }
    }
}