@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  player UI
/* ---------------------------------------------------------------------- */
%img150 {
    width: 150px;
    height: 150px;
}
%img66 {
  width: 66px;
  height: 66px;
}
%active_player {
  &:focus {
    @include border-radius-multi(50%,50%,50%,50%);
    @include overflowHide;
    position:relative;
    outline: none;
    border: 3px solid $C-brand-point2;
  }
}

.player {

    margin-top: 50px;
    position: relative;
    text-align: center;
    &.melon {
        .btn__prev-speed,
        .btn__next-speed,
        .player__controller-speed {
            display: none;
        }
    }
    &.podcast,
    &.radio,
    &.audiobook,
    &.dailybrifing {
        .btn__prev-speed,
        .btn__next-speed,
        .player__controller-speed,
        .btn__replay,
        .btn__random {
            display: none;
        }
    }
    &.audiobook {
        .player__img .player__img-box {
            background: url($S-local-img + '/audiobook/nugu_audiobook_image.png') no-repeat 0 0;
        }
    }
    &.dailybrifing {
        .player__img .player__img-box {
            background: url($S-local-img + '/dailybriefing/nugu_news_image.png') no-repeat 0 0;
        }
    }
    &.banner {
        display: none;
        margin-left: 90px;

        .banner_area {
            @include absolute(0, null, null, 0);
            display: inline-block;
            width: 230px;
        }
    }
    .banner_area {
        display: none;
    }
    &__img {
        @extend %img150;
        position: relative;
        display: inline-block;
        vertical-align: top;

        .ico_favorite {
            @include use-sprite(nugu_melon_favorite_nor);
            @include absolute(5px, 5px, null, null);
            &.on {
                @include use-sprite(nugu_melon_favorite_sel); 
            }
        }
    }
    &__img-box {
        @extend %img150;
        @include border-radius-multi(50%,50%,50%,50%);
        @include overflowHide;
        position: relative;
        display: inline-block;
        vertical-align: top;
        img {
          @include border-radius-multi(50%,50%,50%,50%);
        }
        &.mask {
            &:before {
                $list :rgba(30,87,153,0) 50%,rgba(0,0,0,0.6) 100%; //그라데이션 변수
                @include gradient(to bottom, $list);
                @include border-radius-multi(50%,50%,50%,50%);
                @include overflowHide;
                @include absolute(null, 0, 0, 0);
                @extend %img150;
                content:'';
            }
        }
        .player_p_img {
            @extend %img150;
        }
        
    }
    &__minute {
        @include absolute(null, 0, 20px, 0);
        display: block;
        width: 160px;
        text-align: center;
        font-size: $F-size-14;
        color: $C-white;
    }
    &__info {

        margin: 30px 50px 0;
    }
    &__title {
        @include ellipsis (block,100%);
        font-family: $F-family-bold;
        font-size: $F-size-22;
        color: $C-white;
    }
    &__detail {
        @include flex();
        @include flex-justify(center);
        @include flex-align(center);
        margin-top: 5px;
    }
    &__detail-desc {
        @include ellipsis (block,100%);
        color: rgba(255,255,255,.4);
        font-size: $F-size-16;
    }
    &__progress {

        position: relative;
        padding-top: 30px;
        //margin-top: 30px;
        &.disabled {
            .player__start,
            .player__end {
                @include opacity(.3);
            }
            .player__progress-bar {
                display: none;
            }
        }
    }
    &__progress-bg {
        display: block;
        width: 100%;
        height: 3px;
        text-align:left;
        background: $C-light-gray_cb;
    }
    &__progress-bar {
        display: inline-block;
        vertical-align: top;
        height: 3px;
        background: $C-brand-point2;
    }
    &__start,
    &__end {

        font-size: $F-size-16;
        color: rgba(255,255,255,.3);
    }
    &__start {
        @include absolute(0, null, null, 0);
    }

    &__end {
        @include absolute(0, 0, null, null);
    }
    &__controller {
        //position: relative;
        margin-top: 20px;
        text-align: center;
        @include clear;
    }
    &__controller-left {
        //@include absolute(0, null, null, -35px);
        button {
            margin: 0 13px 0 12px;
        }
    }
    &__controller-right {
        //@include absolute(0, -28px, null, null);
        display: none;
    }
    &__controller-speed {
        @include border-radius-multi(15px,15px,15px,15px);
        display: inline-block;
        margin-top: 22px;
        width: 70px;
        height: 30px;
        border: 1px solid $C-light-gray_e2;
        text-align: center;
        font-size: $F-size-24;
        color: $C-font-point;
        font-family: $F-family-bold;
        background: $C-white;
    }
}
.btn {
    &__prev {
        @include use-sprite(nugu_melon_control_back_sel);
        outline: 0;
        //@include border-radius-multi(50%,50%,50%,50%);
        //@extend %active_player;
        //@extend %img66;
        //border: 3px solid $C-white;

        &:disabled {
            @include use-sprite(nugu_melon_control_back_dis);
        }
    }
    &__prev-speed {
        @include use-sprite(nugu_melon_control_back_severalfold_nor);
        @include border-radius-multi(50%,50%,50%,50%);
        @extend %active_player;
        @extend %img66;
        border: 3px solid $C-white;
        &:disabled {
            @include opacity(.3);
        }
    }
    &__play {
        @include use-sprite(nugu_melon_control_play_sel);
        outline: 0;
        //@include border-radius-multi(50%,50%,50%,50%);
        //@extend %active_player;
        //@extend %img66;
        //border: 3px solid $C-white;
    }
    &__next {
        @include use-sprite(nugu_melon_control_next_sel);
        outline: 0;
        //@include border-radius-multi(50%,50%,50%,50%);
        //@extend %active_player;
        //@extend %img66;
        //border: 3px solid $C-white;
        &:disabled {
            @include use-sprite(nugu_melon_control_next_dis);

        }
    }
    &__next-speed {
        @include use-sprite(nugu_melon_control_next_severalfold_nor);
        @include border-radius-multi(50%,50%,50%,50%);
        @extend %active_player;
        @extend %img66;
        border: 3px solid $C-white;
        &:disabled {
            @include opacity(.3);
        }
    }
    &__pause {
        @include use-sprite(nugu_melon_control_pause_sel);
        outline: 0;
        //@include border-radius-multi(50%,50%,50%,50%);
        //@extend %active_player;
        //@extend %img66;
        //border: 3px solid $C-white;
    }
    &__replay {
        @include use-sprite(nugu_melon_control_repeat_off_nor);
        @include border-radius-multi(50%,50%,50%,50%);
        @extend %active_player;
        @extend %img66;
        border: 3px solid $C-white;

        &.select {
            @include use-sprite(nugu_melon_control_repeat_nor);
            @include border-radius-multi(50%,50%,50%,50%);
            @extend %active_player;
            @extend %img66;
            border: 3px solid $C-white;
        }
        &.one {
            @include use-sprite(nugu_melon_control_1_repeat_nor);
            @include border-radius-multi(50%,50%,50%,50%);
            @extend %active_player;
            @extend %img66;
            border: 3px solid $C-white;
        }
        
    }
    &__random {
        @include use-sprite(nugu_melon_control_shuffle_off_nor);
        @include border-radius-multi(50%,50%,50%,50%);
        @extend %active_player;
        @extend %img66;
        border: 3px solid $C-white;

        &.select {
            @include use-sprite(nugu_melon_control_shuffle_nor); 
        }
    }
}