@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  player UI
/* ---------------------------------------------------------------------- */
%img230 {
    width: 230px;
    height: 230px;
}
%img74 {
  width: 74px;
  height: 74px;
}
%active {
  &:focus {
    @include border-radius-multi(50%,50%,50%,50%);
    @include overflowHide;
    position:relative;
    background-color:$C-white;
    outline: none;
    &:before {
      @include border-radius-multi(50%,50%,50%,50%);
      @include overflowHide;
      @include absolute(0, null, null, 0);
      @extend %img74;
      border: 3px solid #ff611b;
      content:'';
    }
  }
}

.player {
    @include flex();
    @include flex-justify(center);
    margin-top: 8px;
    position: relative;

    &.melon {
        .btn__prev-speed,
        .btn__next-speed,
        .player__controller-speed {
            display: none;
        }
    }
    &.podcast,
    &.radio,
    &.audiobook,
    &.dailybrifing {
        .btn__prev-speed,
        .btn__next-speed,
        .player__controller-speed,
        .btn__replay,
        .btn__random {
            display: none;
        }
    }
    &.audiobook {
        .player__img .player__img-box {
            background: url($S-local-img + '/audiobook/nugu_audiobook_image.png') no-repeat 0 0;
        }
    }
    &.dailybrifing {
        .player__img .player__img-box {
            background: url($S-local-img + '/dailybriefing/nugu_news_image.png') no-repeat 0 0;
        }
    }
    &.banner {
        margin-left: 90px;

        .banner_area {
            @include absolute(0, null, null, 0);
            display: inline-block;
            width: 230px;
        }
    }
    .banner_area {
        display: none;
    }

    &__img {
        @extend %img230;
        position: relative;
        display: inline-block;
        vertical-align: top;

        .ico_favorite {
            @include use-sprite(nugu_melon_favorite_nor);
            @include absolute(5px, 5px, null, null);
            &.on {
                @include use-sprite(nugu_melon_favorite_sel); 
            }
        }
    }
    &__img-box {
        @extend %img230;
        @include border-radius-multi(50%,50%,50%,50%);
        @include overflowHide;
        position: relative;
        display: inline-block;
        vertical-align: top;
        img {
          @include border-radius-multi(50%,50%,50%,50%);
        }
        &.mask {
            &:before {
                @include border-radius-multi(50%,50%,50%,50%);
                @extend %img230;
                @include overflowHide;
                @include absolute(null, 0, 0, 0);
                background: linear-gradient(to bottom, rgba(30,87,153,0) 50%,rgba(0,0,0,0.6) 100%);
                content:'';
            }
        }
        
        .player_p_img {
            @extend %img230;
        }
        
    }
    &__minute {
        @include absolute(null, 0, 30px, 0);
        display: block;
        width: 230px;
        text-align: center;
        font-size: 2.2rem;
        color: $C-white;
    }
    &__info {
        margin-left: 40px;
        max-width: 820px;
    }
    &__title {
        @include ellipsis (block,820px);
        font-family: $F-family-bold;
        font-size: $F-size-xxbig;
        color: $C-font-dark;
    }
    &__detail {
        @include flex();
        @include flex-justify(flex-start);
        @include flex-align(flex-start);
        margin-top: 5px;
    }
    &__detail-desc {
        @include ellipsis (block,100%);
        color: $C-font-light;
        font-size: $F-size;
    }
    &__progress {
        @include flex();
        @include flex-justify(space-between);
        @include flex-align(flex-start);
        width: 820px;
        margin-top: 13px;

        &.disabled {
            .player__start,
            .player__end {
                @include opacity(.3);
            }
            .player__progress-bar {
                display: none;
            }
        }
    }
    &__progress-bg {
        display: block;
        margin-top: 17px;
        width: 620px;
        height: 5px;
        text-align:left;
        background: #cbcbcb;
    }
    &__progress-bar {
        display: inline-block;
        vertical-align: top;
        height: 5px;
        background: #ff4909;
    }
    &__start,
    &__end {
        font-size: $F-size-under;
        color: $C-font-dark;
    }
    &__controller {
        position: relative;
        margin-top: 13px;
        @include clear;
    }
    &__controller-left {
        @include absolute(0, null, null, -35px);
        button {
            margin: 0 13px 0 12px;
        }
    }
    &__controller-right {
        @include absolute(0, -28px, null, null);
    }
    &__controller-speed {
        @include border-radius-multi(15px,15px,15px,15px);
        display: inline-block;
        margin-top: 22px;
        width: 70px;
        height: 30px;
        border: 1px solid #e2e2e2;
        text-align: center;
        font-size: $F-size-xsmall;
        color: #ff4909;
        font-family: $F-family-bold;
        background: $C-white;
    }
}


.btn {
    &__prev {
        @include use-sprite(nugu_melon_control_back_nor);
        @extend %active;
        &:disabled {
            @include use-sprite(nugu_melon_control_back_dis);
        }
    }
    &__prev-speed {
        @include use-sprite(nugu_melon_control_back_severalfold_nor);
        @extend %active;
        &:disabled {
            @include opacity(.3);
        }
    }
    &__play {
        @include use-sprite(nugu_melon_control_play_nor);
        @extend %active;
    }
    &__next {
        @include use-sprite(nugu_melon_control_next_nor);
        @extend %active;
        &:disabled {
            @include use-sprite(nugu_melon_control_next_dis);

        }
    }
    &__next-speed {
        @include use-sprite(nugu_melon_control_next_severalfold_nor);
        @extend %active;
        &:disabled {
            @include opacity(.3);
        }
    }
    &__pause {
        @include use-sprite(nugu_melon_control_pause_nor);
        @extend %active;
    }
    &__replay {
        @include use-sprite(nugu_melon_control_repeat_off_nor);
        @extend %active;
        &.select {
            @include use-sprite(nugu_melon_control_repeat_nor); 
            @extend %active;
        }
        &.one {
            @include use-sprite(nugu_melon_control_1_repeat_nor); 
            @extend %active;
        }
        
    }
    &__random {
        @include use-sprite(nugu_melon_control_shuffle_off_nor);
        @extend %active;

        &.select {
            @include use-sprite(nugu_melon_control_shuffle_nor); 
        }
    }
}