@mixin spr_img($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('/biz/static/assets/images/spr_img.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img: (
    spritesheet_name: spr_img,
    total_width: 688px,
    total_height: 542px,
    total_width_retina: 344px,
    total_height_retina: 271px,
    activity_eximg: (
        offset_x: 0,
        offset_y: -254px,
        width: 180px,
        height: 130px,
        offset_x_retina: 0,
        offset_y_retina: -127px,
        width_retina: 90px,
        height_retina: 65px),
    chk_checked: (
        offset_x: -392px,
        offset_y: -361px,
        width: 20px,
        height: 20px,
        offset_x_retina: -196px,
        offset_y_retina: -180.5px,
        width_retina: 10px,
        height_retina: 10px),
    chk_unchecked: (
        offset_x: -312px,
        offset_y: -388px,
        width: 20px,
        height: 20px,
        offset_x_retina: -156px,
        offset_y_retina: -194px,
        width_retina: 10px,
        height_retina: 10px),
    event_popup_btn_close_normal: (
        offset_x: -288px,
        offset_y: -388px,
        width: 20px,
        height: 20px,
        offset_x_retina: -144px,
        offset_y_retina: -194px,
        width_retina: 10px,
        height_retina: 10px),
    event_popup_btn_close_over: (
        offset_x: -264px,
        offset_y: -388px,
        width: 20px,
        height: 20px,
        offset_x_retina: -132px,
        offset_y_retina: -194px,
        width_retina: 10px,
        height_retina: 10px),
    event_popup_btn_close_pressed: (
        offset_x: -368px,
        offset_y: -361px,
        width: 20px,
        height: 20px,
        offset_x_retina: -184px,
        offset_y_retina: -180.5px,
        width_retina: 10px,
        height_retina: 10px),
    event_popup_check_box_off: (
        offset_x: -440px,
        offset_y: -361px,
        width: 20px,
        height: 20px,
        offset_x_retina: -220px,
        offset_y_retina: -180.5px,
        width_retina: 10px,
        height_retina: 10px),
    event_popup_check_box_on: (
        offset_x: -416px,
        offset_y: -361px,
        width: 20px,
        height: 20px,
        offset_x_retina: -208px,
        offset_y_retina: -180.5px,
        width_retina: 10px,
        height_retina: 10px),
    export-description-img-logo-naver: (
        offset_x: -236px,
        offset_y: -388px,
        width: 24px,
        height: 24px,
        offset_x_retina: -118px,
        offset_y_retina: -194px,
        width_retina: 12px,
        height_retina: 12px),
    export-description-img: (
        offset_x: 0,
        offset_y: -419px,
        width: 75px,
        height: 75px,
        offset_x_retina: 0,
        offset_y_retina: -209.5px,
        width_retina: 37.5px,
        height_retina: 37.5px),
    footer_ic_facebook_normal: (
        offset_x: -363px,
        offset_y: -419px,
        width: 37px,
        height: 37px,
        offset_x_retina: -181.5px,
        offset_y_retina: -209.5px,
        width_retina: 18.5px,
        height_retina: 18.5px),
    footer_ic_facebook_over: (
        offset_x: -322px,
        offset_y: -419px,
        width: 37px,
        height: 37px,
        offset_x_retina: -161px,
        offset_y_retina: -209.5px,
        width_retina: 18.5px,
        height_retina: 18.5px),
    footer_ic_facebook_pressed: (
        offset_x: -281px,
        offset_y: -419px,
        width: 37px,
        height: 37px,
        offset_x_retina: -140.5px,
        offset_y_retina: -209.5px,
        width_retina: 18.5px,
        height_retina: 18.5px),
    footer_ic_instargram_normal: (
        offset_x: -199px,
        offset_y: -419px,
        width: 37px,
        height: 37px,
        offset_x_retina: -99.5px,
        offset_y_retina: -209.5px,
        width_retina: 18.5px,
        height_retina: 18.5px),
    footer_ic_instargram_over: (
        offset_x: -158px,
        offset_y: -419px,
        width: 37px,
        height: 37px,
        offset_x_retina: -79px,
        offset_y_retina: -209.5px,
        width_retina: 18.5px,
        height_retina: 18.5px),
    footer_ic_instargram_pressed: (
        offset_x: -447px,
        offset_y: -254px,
        width: 37px,
        height: 37px,
        offset_x_retina: -223.5px,
        offset_y_retina: -127px,
        width_retina: 18.5px,
        height_retina: 18.5px),
    footer_ic_twitter_normal: (
        offset_x: -632px,
        offset_y: -205px,
        width: 37px,
        height: 37px,
        offset_x_retina: -316px,
        offset_y_retina: -102.5px,
        width_retina: 18.5px,
        height_retina: 18.5px),
    footer_ic_twitter_over: (
        offset_x: -240px,
        offset_y: -419px,
        width: 37px,
        height: 37px,
        offset_x_retina: -120px,
        offset_y_retina: -209.5px,
        width_retina: 18.5px,
        height_retina: 18.5px),
    footer_ic_twitter_pressed: (
        offset_x: -404px,
        offset_y: -419px,
        width: 37px,
        height: 37px,
        offset_x_retina: -202px,
        offset_y_retina: -209.5px,
        width_retina: 18.5px,
        height_retina: 18.5px),
    gnb_logo: (
        offset_x: 0,
        offset_y: -388px,
        width: 204px,
        height: 27px,
        offset_x_retina: 0,
        offset_y_retina: -194px,
        width_retina: 102px,
        height_retina: 13.5px),
    gnb_logo_black: (
        offset_x: -368px,
        offset_y: -333px,
        width: 95px,
        height: 24px,
        offset_x_retina: -184px,
        offset_y_retina: -166.5px,
        width_retina: 47.5px,
        height_retina: 12px),
    gnb_menu: (
        offset_x: -336px,
        offset_y: -388px,
        width: 20px,
        height: 20px,
        offset_x_retina: -168px,
        offset_y_retina: -194px,
        width_retina: 10px,
        height_retina: 10px),
    ico_ready: (
        offset_x: -447px,
        offset_y: -295px,
        width: 50px,
        height: 20px,
        offset_x_retina: -223.5px,
        offset_y_retina: -147.5px,
        width_retina: 25px,
        height_retina: 10px),
    img_member: (
        offset_x: 0,
        offset_y: 0,
        width: 250px,
        height: 250px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 125px,
        height_retina: 125px),
    join_seller_description_img01: (
        offset_x: -508px,
        offset_y: -304px,
        width: 75px,
        height: 75px,
        offset_x_retina: -254px,
        offset_y_retina: -152px,
        width_retina: 37.5px,
        height_retina: 37.5px),
    join_seller_description_img02: (
        offset_x: -79px,
        offset_y: -419px,
        width: 75px,
        height: 75px,
        offset_x_retina: -39.5px,
        offset_y_retina: -209.5px,
        width_retina: 37.5px,
        height_retina: 37.5px),
    join_seller_description_img03: (
        offset_x: -368px,
        offset_y: -254px,
        width: 75px,
        height: 75px,
        offset_x_retina: -184px,
        offset_y_retina: -127px,
        width_retina: 37.5px,
        height_retina: 37.5px),
    join_seller_description_img04: (
        offset_x: -587px,
        offset_y: -304px,
        width: 75px,
        height: 75px,
        offset_x_retina: -293.5px,
        offset_y_retina: -152px,
        width_retina: 37.5px,
        height_retina: 37.5px),
    lesson_eximg: (
        offset_x: -508px,
        offset_y: 0,
        width: 180px,
        height: 130px,
        offset_x_retina: -254px,
        offset_y_retina: 0,
        width_retina: 90px,
        height_retina: 65px),
    login_hidden_logo: (
        offset_x: -508px,
        offset_y: -134px,
        width: 120px,
        height: 120px,
        offset_x_retina: -254px,
        offset_y_retina: -67px,
        width_retina: 60px,
        height_retina: 60px),
    login_logo: (
        offset_x: -508px,
        offset_y: -258px,
        width: 171px,
        height: 42px,
        offset_x_retina: -254px,
        offset_y_retina: -129px,
        width_retina: 85.5px,
        height_retina: 21px),
    outlink_naverblog: (
        offset_x: -632px,
        offset_y: -134px,
        width: 40px,
        height: 67px,
        offset_x_retina: -316px,
        offset_y_retina: -67px,
        width_retina: 20px,
        height_retina: 33.5px),
    product_eximg: (
        offset_x: -184px,
        offset_y: -254px,
        width: 180px,
        height: 130px,
        offset_x_retina: -92px,
        offset_y_retina: -127px,
        width_retina: 90px,
        height_retina: 65px),
    profile_btn_delelte_photo: (
        offset_x: -467px,
        offset_y: -333px,
        width: 24px,
        height: 24px,
        offset_x_retina: -233.5px,
        offset_y_retina: -166.5px,
        width_retina: 12px,
        height_retina: 12px),
    profile_btn_upload_photo: (
        offset_x: -208px,
        offset_y: -388px,
        width: 24px,
        height: 24px,
        offset_x_retina: -104px,
        offset_y_retina: -194px,
        width_retina: 12px,
        height_retina: 12px),
    radio_checked: (
        offset_x: -666px,
        offset_y: -352px,
        width: 20px,
        height: 20px,
        offset_x_retina: -333px,
        offset_y_retina: -176px,
        width_retina: 10px,
        height_retina: 10px),
    radio_unchecked: (
        offset_x: -464px,
        offset_y: -361px,
        width: 20px,
        height: 20px,
        offset_x_retina: -232px,
        offset_y_retina: -180.5px,
        width_retina: 10px,
        height_retina: 10px),
    thanks_img: (
        offset_x: -254px,
        offset_y: 0,
        width: 250px,
        height: 250px,
        offset_x_retina: -127px,
        offset_y_retina: 0,
        width_retina: 125px,
        height_retina: 125px),
    turn_bg-first: (
        offset_x: -20px,
        offset_y: -498px,
        width: 16px,
        height: 44px,
        offset_x_retina: -10px,
        offset_y_retina: -249px,
        width_retina: 8px,
        height_retina: 22px),
    turn_bg-last: (
        offset_x: 0,
        offset_y: -498px,
        width: 16px,
        height: 44px,
        offset_x_retina: 0,
        offset_y_retina: -249px,
        width_retina: 8px,
        height_retina: 22px),
    turn_bg-only: (
        offset_x: -673px,
        offset_y: -205px,
        width: 15px,
        height: 15px,
        offset_x_retina: -336.5px,
        offset_y_retina: -102.5px,
        width_retina: 7.5px,
        height_retina: 7.5px),
    turn_bg: (
        offset_x: -666px,
        offset_y: -304px,
        width: 16px,
        height: 44px,
        offset_x_retina: -333px,
        offset_y_retina: -152px,
        width_retina: 8px,
        height_retina: 22px),
);
