@mixin spr_img($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spr_img/spr_img.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img: (
    spritesheet_name: spr_img,
    total_width: 85px,
    total_height: 53px,
    total_width_retina: 42.5px,
    total_height_retina: 26.5px,
    btn__next: (
        offset_x: 0,
        offset_y: 0,
        width: 18px,
        height: 33px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 9px,
        height_retina: 16.5px),
    btn__next2: (
        offset_x: -44px,
        offset_y: 0,
        width: 26px,
        height: 16px,
        offset_x_retina: -22px,
        offset_y_retina: 0,
        width_retina: 13px,
        height_retina: 8px),
    btn__prev: (
        offset_x: -22px,
        offset_y: 0,
        width: 18px,
        height: 33px,
        offset_x_retina: -11px,
        offset_y_retina: 0,
        width_retina: 9px,
        height_retina: 16.5px),
    btn__prev2: (
        offset_x: 0,
        offset_y: -37px,
        width: 26px,
        height: 16px,
        offset_x_retina: 0,
        offset_y_retina: -18.5px,
        width_retina: 13px,
        height_retina: 8px),
    nugu_advice_icon_mic: (
        offset_x: -74px,
        offset_y: 0,
        width: 11px,
        height: 17px,
        offset_x_retina: -37px,
        offset_y_retina: 0,
        width_retina: 5.5px,
        height_retina: 8.5px),
);
