@mixin spr_img_2x($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spr_img//spr_img_2x.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img_2x: (
    spritesheet_name: spr_img_2x,
    total_width: 1018px,
    total_height: 672px,
    total_width_retina: 509px,
    total_height_retina: 336px,
    btn__next: (
        offset_x: -776px,
        offset_y: -279px,
        width: 36px,
        height: 66px,
        offset_x_retina: -388px,
        offset_y_retina: -139.5px,
        width_retina: 18px,
        height_retina: 33px),
    btn__next2: (
        offset_x: -958px,
        offset_y: -140px,
        width: 52px,
        height: 32px,
        offset_x_retina: -479px,
        offset_y_retina: -70px,
        width_retina: 26px,
        height_retina: 16px),
    btn__prev: (
        offset_x: -736px,
        offset_y: -279px,
        width: 36px,
        height: 66px,
        offset_x_retina: -368px,
        offset_y_retina: -139.5px,
        width_retina: 18px,
        height_retina: 33px),
    btn__prev2: (
        offset_x: -902px,
        offset_y: -140px,
        width: 52px,
        height: 32px,
        offset_x_retina: -451px,
        offset_y_retina: -70px,
        width_retina: 26px,
        height_retina: 16px),
    ico_check: (
        offset_x: -900px,
        offset_y: -70px,
        width: 57px,
        height: 56px,
        offset_x_retina: -450px,
        offset_y_retina: -35px,
        width_retina: 28.5px,
        height_retina: 28px),
    ico_logo: (
        offset_x: -696px,
        offset_y: -140px,
        width: 202px,
        height: 43px,
        offset_x_retina: -348px,
        offset_y_retina: -70px,
        width_retina: 101px,
        height_retina: 21.5px),
    ico_order_mic: (
        offset_x: -932px,
        offset_y: -187px,
        width: 36px,
        height: 47px,
        offset_x_retina: -466px,
        offset_y_retina: -93.5px,
        width_retina: 18px,
        height_retina: 23.5px),
    nugu_advice_icon_mic: (
        offset_x: -972px,
        offset_y: -187px,
        width: 26px,
        height: 36px,
        offset_x_retina: -486px,
        offset_y_retina: -93.5px,
        width_retina: 13px,
        height_retina: 18px),
    nugu_advice_icon_mic2: (
        offset_x: -845px,
        offset_y: -279px,
        width: 25px,
        height: 33px,
        offset_x_retina: -422.5px,
        offset_y_retina: -139.5px,
        width_retina: 12.5px,
        height_retina: 16.5px),
    nugu_advice_icon_mic2_on: (
        offset_x: -816px,
        offset_y: -279px,
        width: 25px,
        height: 33px,
        offset_x_retina: -408px,
        offset_y_retina: -139.5px,
        width_retina: 12.5px,
        height_retina: 16.5px),
    nugu_general_grammer_mic: (
        offset_x: -696px,
        offset_y: -279px,
        width: 36px,
        height: 76px,
        offset_x_retina: -348px,
        offset_y_retina: -139.5px,
        width_retina: 18px,
        height_retina: 38px),
    nugu_help_tip: (
        offset_x: -961px,
        offset_y: -70px,
        width: 48px,
        height: 48px,
        offset_x_retina: -480.5px,
        offset_y_retina: -35px,
        width_retina: 24px,
        height_retina: 24px),
    nugu_melon_control_1_repeat_nor: (
        offset_x: -532px,
        offset_y: -328px,
        width: 160px,
        height: 160px,
        offset_x_retina: -266px,
        offset_y_retina: -164px,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_back_dis: (
        offset_x: 0,
        offset_y: -512px,
        width: 160px,
        height: 160px,
        offset_x_retina: 0,
        offset_y_retina: -256px,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_back_nor: (
        offset_x: -164px,
        offset_y: -512px,
        width: 160px,
        height: 160px,
        offset_x_retina: -82px,
        offset_y_retina: -256px,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_back_severalfold_nor: (
        offset_x: -328px,
        offset_y: -512px,
        width: 160px,
        height: 160px,
        offset_x_retina: -164px,
        offset_y_retina: -256px,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_logo: (
        offset_x: -696px,
        offset_y: -70px,
        width: 200px,
        height: 66px,
        offset_x_retina: -348px,
        offset_y_retina: -35px,
        width_retina: 100px,
        height_retina: 33px),
    nugu_melon_control_next_dis: (
        offset_x: -328px,
        offset_y: -348px,
        width: 160px,
        height: 160px,
        offset_x_retina: -164px,
        offset_y_retina: -174px,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_next_nor: (
        offset_x: -532px,
        offset_y: -164px,
        width: 160px,
        height: 160px,
        offset_x_retina: -266px,
        offset_y_retina: -82px,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_next_severalfold_nor: (
        offset_x: -532px,
        offset_y: 0,
        width: 160px,
        height: 160px,
        offset_x_retina: -266px,
        offset_y_retina: 0,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_pause_nor: (
        offset_x: 0,
        offset_y: -184px,
        width: 160px,
        height: 160px,
        offset_x_retina: 0,
        offset_y_retina: -92px,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_play_nor: (
        offset_x: -164px,
        offset_y: -348px,
        width: 160px,
        height: 160px,
        offset_x_retina: -82px,
        offset_y_retina: -174px,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_repeat_nor: (
        offset_x: 0,
        offset_y: -348px,
        width: 160px,
        height: 160px,
        offset_x_retina: 0,
        offset_y_retina: -174px,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_repeat_off_nor: (
        offset_x: -368px,
        offset_y: -164px,
        width: 160px,
        height: 160px,
        offset_x_retina: -184px,
        offset_y_retina: -82px,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_shuffle_nor: (
        offset_x: -368px,
        offset_y: 0,
        width: 160px,
        height: 160px,
        offset_x_retina: -184px,
        offset_y_retina: 0,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_control_shuffle_off_nor: (
        offset_x: -164px,
        offset_y: -184px,
        width: 160px,
        height: 160px,
        offset_x_retina: -82px,
        offset_y_retina: -92px,
        width_retina: 80px,
        height_retina: 80px),
    nugu_melon_favorite_nor: (
        offset_x: -788px,
        offset_y: -187px,
        width: 88px,
        height: 88px,
        offset_x_retina: -394px,
        offset_y_retina: -93.5px,
        width_retina: 44px,
        height_retina: 44px),
    nugu_melon_favorite_sel: (
        offset_x: -696px,
        offset_y: -187px,
        width: 88px,
        height: 88px,
        offset_x_retina: -348px,
        offset_y_retina: -93.5px,
        width_retina: 44px,
        height_retina: 44px),
    nugu_smarthome_off: (
        offset_x: 0,
        offset_y: 0,
        width: 180px,
        height: 180px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 90px,
        height_retina: 90px),
    nugu_smarthome_on: (
        offset_x: -184px,
        offset_y: 0,
        width: 180px,
        height: 180px,
        offset_x_retina: -92px,
        offset_y_retina: 0,
        width_retina: 90px,
        height_retina: 90px),
    nugu_traffic_graph_icon_arrival_copy: (
        offset_x: -880px,
        offset_y: -187px,
        width: 48px,
        height: 64px,
        offset_x_retina: -440px,
        offset_y_retina: -93.5px,
        width_retina: 24px,
        height_retina: 32px),
    nugu_wikipedia_control_logo: (
        offset_x: -696px,
        offset_y: 0,
        width: 322px,
        height: 66px,
        offset_x_retina: -348px,
        offset_y_retina: 0,
        width_retina: 161px,
        height_retina: 33px),
);
