@mixin spr_img($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('/images/spr_img//spr_img.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img: (
    spritesheet_name: spr_img,
    total_width: 517px,
    total_height: 342px,
    total_width_retina: 258.5px,
    total_height_retina: 171px,
    btn__next: (
        offset_x: -400px,
        offset_y: -148px,
        width: 18px,
        height: 33px,
        offset_x_retina: -200px,
        offset_y_retina: -74px,
        width_retina: 9px,
        height_retina: 16.5px),
    btn__next2: (
        offset_x: -491px,
        offset_y: -74px,
        width: 26px,
        height: 16px,
        offset_x_retina: -245.5px,
        offset_y_retina: -37px,
        width_retina: 13px,
        height_retina: 8px),
    btn__prev: (
        offset_x: -378px,
        offset_y: -148px,
        width: 18px,
        height: 33px,
        offset_x_retina: -189px,
        offset_y_retina: -74px,
        width_retina: 9px,
        height_retina: 16.5px),
    btn__prev2: (
        offset_x: -461px,
        offset_y: -74px,
        width: 26px,
        height: 16px,
        offset_x_retina: -230.5px,
        offset_y_retina: -37px,
        width_retina: 13px,
        height_retina: 8px),
    ico_check: (
        offset_x: -460px,
        offset_y: -37px,
        width: 29px,
        height: 29px,
        offset_x_retina: -230px,
        offset_y_retina: -18.5px,
        width_retina: 14.5px,
        height_retina: 14.5px),
    ico_logo: (
        offset_x: -356px,
        offset_y: -74px,
        width: 101px,
        height: 22px,
        offset_x_retina: -178px,
        offset_y_retina: -37px,
        width_retina: 50.5px,
        height_retina: 11px),
    ico_order_mic: (
        offset_x: -480px,
        offset_y: -100px,
        width: 19px,
        height: 24px,
        offset_x_retina: -240px,
        offset_y_retina: -50px,
        width_retina: 9.5px,
        height_retina: 12px),
    nugu_advice_icon_mic: (
        offset_x: -503px,
        offset_y: -100px,
        width: 13px,
        height: 18px,
        offset_x_retina: -251.5px,
        offset_y_retina: -50px,
        width_retina: 6.5px,
        height_retina: 9px),
    nugu_advice_icon_mic2: (
        offset_x: -439px,
        offset_y: -148px,
        width: 13px,
        height: 17px,
        offset_x_retina: -219.5px,
        offset_y_retina: -74px,
        width_retina: 6.5px,
        height_retina: 8.5px),
    nugu_advice_icon_mic2_on: (
        offset_x: -422px,
        offset_y: -148px,
        width: 13px,
        height: 17px,
        offset_x_retina: -211px,
        offset_y_retina: -74px,
        width_retina: 6.5px,
        height_retina: 8.5px),
    nugu_general_grammer_mic: (
        offset_x: -356px,
        offset_y: -148px,
        width: 18px,
        height: 38px,
        offset_x_retina: -178px,
        offset_y_retina: -74px,
        width_retina: 9px,
        height_retina: 19px),
    nugu_help_tip: (
        offset_x: -493px,
        offset_y: -37px,
        width: 24px,
        height: 24px,
        offset_x_retina: -246.5px,
        offset_y_retina: -18.5px,
        width_retina: 12px,
        height_retina: 12px),
    nugu_melon_control_1_repeat_nor: (
        offset_x: -272px,
        offset_y: -168px,
        width: 80px,
        height: 80px,
        offset_x_retina: -136px,
        offset_y_retina: -84px,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_back_dis: (
        offset_x: 0,
        offset_y: -262px,
        width: 80px,
        height: 80px,
        offset_x_retina: 0,
        offset_y_retina: -131px,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_back_nor: (
        offset_x: -84px,
        offset_y: -262px,
        width: 80px,
        height: 80px,
        offset_x_retina: -42px,
        offset_y_retina: -131px,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_back_severalfold_nor: (
        offset_x: -168px,
        offset_y: -262px,
        width: 80px,
        height: 80px,
        offset_x_retina: -84px,
        offset_y_retina: -131px,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_logo: (
        offset_x: -356px,
        offset_y: -37px,
        width: 100px,
        height: 33px,
        offset_x_retina: -178px,
        offset_y_retina: -18.5px,
        width_retina: 50px,
        height_retina: 16.5px),
    nugu_melon_control_next_dis: (
        offset_x: -168px,
        offset_y: -178px,
        width: 80px,
        height: 80px,
        offset_x_retina: -84px,
        offset_y_retina: -89px,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_next_nor: (
        offset_x: -272px,
        offset_y: -84px,
        width: 80px,
        height: 80px,
        offset_x_retina: -136px,
        offset_y_retina: -42px,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_next_severalfold_nor: (
        offset_x: -272px,
        offset_y: 0,
        width: 80px,
        height: 80px,
        offset_x_retina: -136px,
        offset_y_retina: 0,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_pause_nor: (
        offset_x: 0,
        offset_y: -94px,
        width: 80px,
        height: 80px,
        offset_x_retina: 0,
        offset_y_retina: -47px,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_play_nor: (
        offset_x: -84px,
        offset_y: -178px,
        width: 80px,
        height: 80px,
        offset_x_retina: -42px,
        offset_y_retina: -89px,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_repeat_nor: (
        offset_x: 0,
        offset_y: -178px,
        width: 80px,
        height: 80px,
        offset_x_retina: 0,
        offset_y_retina: -89px,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_repeat_off_nor: (
        offset_x: -188px,
        offset_y: -84px,
        width: 80px,
        height: 80px,
        offset_x_retina: -94px,
        offset_y_retina: -42px,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_shuffle_nor: (
        offset_x: -188px,
        offset_y: 0,
        width: 80px,
        height: 80px,
        offset_x_retina: -94px,
        offset_y_retina: 0,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_control_shuffle_off_nor: (
        offset_x: -84px,
        offset_y: -94px,
        width: 80px,
        height: 80px,
        offset_x_retina: -42px,
        offset_y_retina: -47px,
        width_retina: 40px,
        height_retina: 40px),
    nugu_melon_favorite_nor: (
        offset_x: -404px,
        offset_y: -100px,
        width: 44px,
        height: 44px,
        offset_x_retina: -202px,
        offset_y_retina: -50px,
        width_retina: 22px,
        height_retina: 22px),
    nugu_melon_favorite_sel: (
        offset_x: -356px,
        offset_y: -100px,
        width: 44px,
        height: 44px,
        offset_x_retina: -178px,
        offset_y_retina: -50px,
        width_retina: 22px,
        height_retina: 22px),
    nugu_smarthome_off: (
        offset_x: 0,
        offset_y: 0,
        width: 90px,
        height: 90px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 45px,
        height_retina: 45px),
    nugu_smarthome_on: (
        offset_x: -94px,
        offset_y: 0,
        width: 90px,
        height: 90px,
        offset_x_retina: -47px,
        offset_y_retina: 0,
        width_retina: 45px,
        height_retina: 45px),
    nugu_traffic_graph_icon_arrival_copy: (
        offset_x: -452px,
        offset_y: -100px,
        width: 24px,
        height: 32px,
        offset_x_retina: -226px,
        offset_y_retina: -50px,
        width_retina: 12px,
        height_retina: 16px),
    nugu_wikipedia_control_logo: (
        offset_x: -356px,
        offset_y: 0,
        width: 161px,
        height: 33px,
        offset_x_retina: -178px,
        offset_y_retina: 0,
        width_retina: 80.5px,
        height_retina: 16.5px),
);
