@mixin spr_service_2x($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('/biz/static/assets/images/spr_service_2x.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_service_2x: (
    spritesheet_name: spr_service_2x,
    total_width: 492px,
    total_height: 492px,
    total_width_retina: 246px,
    total_height_retina: 246px,
    m_my_ic_01: (
        offset_x: 0,
        offset_y: 0,
        width: 244px,
        height: 244px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 122px,
        height_retina: 122px),
    m_my_ic_02: (
        offset_x: -248px,
        offset_y: 0,
        width: 244px,
        height: 244px,
        offset_x_retina: -124px,
        offset_y_retina: 0,
        width_retina: 122px,
        height_retina: 122px),
    m_my_ic_03: (
        offset_x: 0,
        offset_y: -248px,
        width: 244px,
        height: 244px,
        offset_x_retina: 0,
        offset_y_retina: -124px,
        width_retina: 122px,
        height_retina: 122px),
    m_my_ic_04: (
        offset_x: -248px,
        offset_y: -248px,
        width: 244px,
        height: 244px,
        offset_x_retina: -124px,
        offset_y_retina: -124px,
        width_retina: 122px,
        height_retina: 122px),
);
