@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Containers
/* ---------------------------------------------------------------------- */
.container {
	position: relative;
	width: 100%;
	min-height: 100%;
	z-index:100;

}
.content_area {
	//position: relative;
	width: 100%;
	min-height: 100%;
	@include clear();
}
.webview_area {
	margin:0 auto;
	position: relative;
	width: 100%;
	min-height: 100%;
	z-index: 10;
	padding-bottom: 150px;
	@include clear();
}
.top_title_area {
	//height: 80px;
	@include overflowHide;
	text-align: center;
	font-family: $F-family-semi;
	color: $C-black;
	font-size: $F-size-big;
	font-weight: bold;
	padding: 20px;
	.data {
		@include multiline-ellipsis(2,$F-size-big,$base-line-height);
		display: inline-block;
	}

}
.help_area {
	height: 80px;
	text-align: center;
	color: $C-font-light;
	
	.bottom_text-area {
		@include border-radius-multi(19px,19px,19px,19px);
		display: inline-block;
		vertical-align: top;
		border: 1px solid $C-font-gray_99;
		height: 38px;
		padding: 0 20px;
		line-height: 38px;
		font-size:$F-size-small;
		color: $C-font-light;
		&:before {
			@include use-sprite(nugu_general_grammer_mic);
			margin:7px 5px 0 0;
			vertical-align: top;
			content:'';
		}
	}
}