@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  layout
/* ---------------------------------------------------------------------- */
body, html {
	height: 100%;
}
#wrap {
	min-height: 100%;
	position: relative;
	padding-bottom: 0;
	background: url($S-local-img+'/test_img.jpg') no-repeat 0 0;
	background-size: cover;
	
	&:after {
		content:'';
		display: block;
		background: #000;
		opacity: .8;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
.container {
	height: 430px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	min-width: 1920px;
	background: $C-bgColor;
	z-index:10;
	
}
.top_title_area {
	height: 80px;
	text-align: center;
	line-height: 80px;
	color: $C-black;
	font-size: $F-size-small;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
.help_area {
	height: 80px;
	text-align: center;
	color: $C-font-dark;
	font-size:$F-size-xsmall;
	clear: both;
	border-top: 1px solid #ccc;
	padding-top:10px;
}
.content_area {
	position: relative;
	height: 260px;
	@include clear();
}

