@charset "utf-8";
@font-face {
    font-family: 'MobisRegular';
    src: url($S-local-img + '/font/Mobis-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url($S-local-img + '/font/Mobis-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'MobisBold';
    src: url($S-local-img + '/font/Mobis-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url($S-local-img + '/font/Mobis-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}