@charset "utf-8";
@font-face {
    font-family: 'SKBRIXHEADSB_0';
    src: url('../../assets/images/font/SKBRIXHEADSB_0.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/images/font/SKBRIXHEADSB_0.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'SKBRixHeadM';
    src: url('../../assets/images/font/SKBRixHeadM.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/images/font/SKBRixHeadM.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'SKBRixHeadB';
    src: url('../../assets/images/font/SKBRixHeadB.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'SKBRixHeadEB';
    src: url('../../assets/images/font/SKBRixHeadEB.ttf')  format('truetype'), /* Safari, Android, iOS */
}